openapi: 3.1.0
info:
  title: Jali API
  version: 0.1.0
  description: |
    Contract between the Jali mobile app and the backend (Laravel today; any
    implementation that passes the contract tests can replace it — see
    `docs/api/README.md`).

    Scope of this version: identity, push tokens, driver profile, and the
    on-demand ride endpoints from `RIDE_HAILING_PLAN.md`. Operations marked
    `x-jali-status: planned` are agreed designs that are not implemented yet;
    everything else is implemented and checked by `backend/tests/Feature/ApiContractTest.php`.

    Conventions
    - All amounts are integers in RWF.
    - Coordinates are WGS84 decimal degrees.
    - Timestamps are ISO-8601 strings.
    - Errors: 401 `{error}`; 403 `{error}`; 409 `{message}`; 422 Laravel validation `{message, errors}`;
      429 `{message}` with `Retry-After` (seconds).
    - Rate limits (S21.7): every route 120/min per user (per IP when signed out),
      headers `X-RateLimit-Limit` / `X-RateLimit-Remaining`. Stricter: sign-in 10/min per IP
      and 20/h per email; OTP request 5/h per phone; OTP verify 10/h per phone;
      ride requests 6/min per rider.
servers:
  - url: https://api.jali.rw/api
    description: Production
  - url: https://jali.stoka.rw/backend/public/api
    description: Dev
  - url: http://127.0.0.1:4010
    description: Prism mock (`npm run api:mock` in mobile/)

security:
  - bearerAuth: []

tags:
  - name: Identity
    description: Current user and device registration
  - name: Driver
    description: Driver profile, vehicles and rates
  - name: Rides
    description: Rider side of on-demand rides
  - name: Driver rides
    description: Driver side of on-demand rides
  - name: Hire
    description: Customer side of Hire a Driver (a verified driver drives your own car)
  - name: Driver hire
    description: Driver side of Hire a Driver
  - name: Admin rides
    description: Ride operations and pricing settings
  - name: Rentals
    description: Customer side of car rental (Batch 1)
  - name: Owner rentals
    description: Car owners — listings, photos, papers, calendar, requests, handover and return
  - name: Admin rentals
    description: Rental car verification and rental operations
  - name: Service areas
    description: Cities and zones where services are offered (S10.4)
  - name: Help
    description: Help centre topics in en/fr/rw/sw (S16.2)
  - name: Support
    description: Support tickets linked to a ride, hire or rental; staff inbox with SLA (S16.3)
  - name: Journeys
    description: Shared journeys with stops — search, seats per segment (Batch 3)
  - name: Service access
    description: Which services an account can see, use and offer — one server answer for navigation and intake (S23.1)

paths:
  /me:
    get:
      tags: [Identity]
      operationId: getMe
      summary: Current user with role and permissions
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Me" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /me/push-token:
    post:
      tags: [Identity]
      operationId: registerPushToken
      summary: Register this device's push token (Expo or FCM)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties:
                token: { type: string, maxLength: 255, examples: ["ExponentPushToken[xxxxxxxx]"] }
      responses:
        "200": { $ref: "#/components/responses/Message" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/ValidationError" }
    delete:
      tags: [Identity]
      operationId: removePushToken
      summary: Stop push notifications to this account
      responses:
        "200": { $ref: "#/components/responses/Message" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /driver/profile:
    get:
      tags: [Driver]
      operationId: getDriverProfile
      summary: Driver profile, active vehicle and all vehicles
      x-jali-permission: apply-as-driver
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DriverProfileResponse" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
    patch:
      tags: [Driver]
      operationId: updateDriverProfile
      summary: Save driver setup (profile + active vehicle)
      description: All fields optional. `car_model` and `plate` are required together the first time a vehicle is saved.
      x-jali-permission: apply-as-driver
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/DriverProfileUpdate" }
      responses:
        "200":
          description: Saved profile
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DriverProfileResponse" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "422": { $ref: "#/components/responses/ValidationError" }

  /driver/onboarding:
    get:
      tags: [Driver]
      operationId: getDriverOnboarding
      x-jali-story: S1.1
      x-jali-permission: apply-as-driver
      summary: Application checklist, status, licence and documents
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DriverOnboarding" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /driver/onboarding/services:
    put:
      tags: [Driver]
      operationId: putDriverServices
      x-jali-story: S1.1
      x-jali-permission: apply-as-driver
      summary: Choose what I offer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [services]
              properties:
                services:
                  type: array
                  minItems: 1
                  items: { $ref: "#/components/schemas/DriverService" }
      responses:
        "200":
          description: Updated checklist
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DriverOnboarding" }
        "422": { $ref: "#/components/responses/ValidationError" }

  /driver/onboarding/licence:
    put:
      tags: [Driver]
      operationId: putDriverLicence
      x-jali-story: S1.2
      x-jali-permission: apply-as-driver
      summary: Driving licence details (an expired licence is rejected)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [licence_no, licence_categories, licence_expiry]
              properties:
                licence_no: { type: string, maxLength: 50 }
                licence_categories:
                  type: array
                  minItems: 1
                  items: { type: string, enum: [A, B, C, C1, D, D1, E, F] }
                licence_expiry: { type: string, format: date }
                national_id_no: { type: [string, "null"], maxLength: 50 }
      responses:
        "200":
          description: Updated checklist
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DriverOnboarding" }
        "422": { $ref: "#/components/responses/ValidationError" }

  /driver/onboarding/submit:
    post:
      tags: [Driver]
      operationId: submitDriverApplication
      x-jali-story: S1.1
      x-jali-permission: apply-as-driver
      summary: Send the application for admin review (all required steps must be done)
      responses:
        "200":
          description: Submitted — status becomes pending
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DriverOnboarding" }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/ValidationError" }

  /driver/documents:
    post:
      tags: [Driver]
      operationId: uploadDriverDocument
      x-jali-story: S1.2
      x-jali-permission: apply-as-driver
      summary: Upload or replace a verification document (stored privately)
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [type, file]
              properties:
                type: { $ref: "#/components/schemas/DriverDocumentType" }
                file: { type: string, format: binary, description: "jpg/png/webp/heic/pdf, max 10 MB" }
      responses:
        "200":
          description: Updated checklist
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DriverOnboarding" }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/ValidationError" }

  /driver/documents/{id}/file:
    parameters:
      - $ref: "#/components/parameters/DocumentId"
    get:
      tags: [Driver]
      operationId: getDriverDocumentFile
      x-jali-story: S1.2
      x-jali-permission: apply-as-driver
      summary: The document file — only for its owner or users with verify-drivers (404 otherwise)
      responses:
        "200":
          description: The file
          content:
            image/*: {}
            application/pdf: {}
        "404": { $ref: "#/components/responses/NotFound" }

  /driver/vehicles:
    get:
      tags: [Driver]
      operationId: listVehicles
      x-jali-story: S1.3
      x-jali-permission: apply-as-driver
      summary: My vehicles (active first)
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Vehicle" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
    post:
      tags: [Driver]
      operationId: createVehicle
      x-jali-story: S1.3
      x-jali-permission: apply-as-driver
      summary: Add a vehicle (the first one becomes active)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: "#/components/schemas/VehicleInput"
                - required: [class, model, plate, seats, insurance_expiry]
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Vehicle" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "422": { $ref: "#/components/responses/ValidationError" }

  /driver/vehicles/{id}:
    parameters:
      - $ref: "#/components/parameters/VehicleId"
    patch:
      tags: [Driver]
      operationId: updateVehicle
      x-jali-story: S1.3
      x-jali-permission: apply-as-driver
      summary: Edit one of my vehicles
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/VehicleInput" }
      responses:
        "200":
          description: Saved
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Vehicle" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/ValidationError" }
    delete:
      tags: [Driver]
      operationId: deleteVehicle
      x-jali-story: S1.3
      x-jali-permission: apply-as-driver
      summary: Remove one of my vehicles
      responses:
        "200": { $ref: "#/components/responses/Message" }
        "404": { $ref: "#/components/responses/NotFound" }

  /driver/vehicles/{id}/activate:
    parameters:
      - $ref: "#/components/parameters/VehicleId"
    post:
      tags: [Driver]
      operationId: activateVehicle
      x-jali-story: S1.3
      x-jali-permission: apply-as-driver
      summary: Make this the vehicle riders see (others become inactive)
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Vehicle" }
        "404": { $ref: "#/components/responses/NotFound" }

  /driver/vehicles/{id}/photos:
    parameters:
      - $ref: "#/components/parameters/VehicleId"
    post:
      tags: [Driver]
      operationId: uploadVehiclePhoto
      x-jali-story: S1.3
      x-jali-permission: apply-as-driver
      summary: Upload or replace one vehicle photo
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [slot, photo]
              properties:
                slot: { type: string, enum: [front, side, interior, luggage] }
                photo: { type: string, format: binary, description: "jpg/png/webp/heic, max 8 MB" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Vehicle" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/ValidationError" }

  # ── Driver pricing & presence (planned) ─────────────────────────────────
  /driver/rates:
    get:
      tags: [Driver]
      operationId: getDriverRates
      x-jali-story: S2.1
      x-jali-permission: apply-as-driver
      summary: My ride rates for the active vehicle, the guardrails that apply, and a price preview
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DriverRatesResponse" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
    put:
      tags: [Driver]
      operationId: putDriverRates
      x-jali-story: S2.1
      x-jali-permission: apply-as-driver
      summary: Set my ride rates (validated against the guardrails for my vehicle class)
      description: Rates are snapshotted when a ride is requested, so changes never affect rides already quoted.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/DriverRates" }
      responses:
        "200":
          description: Saved
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DriverRatesResponse" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "422": { $ref: "#/components/responses/ValidationError" }

  /driver/presence:
    get:
      tags: [Driver rides]
      operationId: getDriverPresence
      x-jali-story: S5.1
      x-jali-permission: offer-rides
      summary: Am I online, and what blocks me from going online?
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DriverPresenceState" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
    post:
      tags: [Driver rides]
      operationId: postDriverPresence
      x-jali-story: S5.1
      x-jali-permission: offer-rides
      summary: Go online/offline; while online send this heartbeat with the position every 5–10 s
      description: |
        Going online is refused (online=false with blocked_reasons) until the driver is verified and the
        active vehicle has valid insurance, a front photo and prices within the limits. Without a heartbeat
        for presence_ttl_sec the driver is treated as offline.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [online]
              properties:
                online: { type: boolean }
                lat: { type: [number, "null"], description: Required when online }
                lng: { type: [number, "null"], description: Required when online }
                heading: { type: [number, "null"], minimum: 0, maximum: 360 }
      responses:
        "200":
          description: Presence stored
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DriverPresenceState" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "422": { $ref: "#/components/responses/ValidationError" }

  /driver/ride-requests:
    get:
      tags: [Driver rides]
      operationId: listRideRequests
      x-jali-story: S5.2
      x-jali-permission: offer-rides
      summary: Open ride requests sent to me (pick or broadcast)
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/RideRequestCard" }

  # ── Rider ───────────────────────────────────────────────────────────────
  /places/search:
    get:
      tags: [Rides]
      operationId: searchPlaces
      x-jali-story: S3.1
      x-jali-permission: request-rides
      summary: Places in Rwanda matching the text, biased around the rider (max 60/min)
      parameters:
        - { name: q, in: query, required: true, schema: { type: string, minLength: 2, maxLength: 120 } }
        - { name: lat, in: query, schema: { type: number } }
        - { name: lng, in: query, schema: { type: number } }
      responses:
        "200":
          description: OK (empty list when nothing matches or the provider is down)
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/PlaceResult" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/ValidationError" }

  /places/reverse:
    get:
      tags: [Rides]
      operationId: reverseGeocode
      x-jali-story: S3.1
      x-jali-permission: request-rides
      summary: Readable address for a position (falls back to coordinates)
      parameters:
        - { name: lat, in: query, required: true, schema: { type: number } }
        - { name: lng, in: query, required: true, schema: { type: number } }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PlaceResult" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/ValidationError" }

  /rides/nearby:
    get:
      tags: [Rides]
      operationId: getNearbyDrivers
      x-jali-story: S3.2
      x-jali-permission: request-rides
      summary: Online drivers near the pickup, each with their own price for this trip (closest first)
      description: |
        Only verified drivers whose heartbeat is within presence_ttl_sec, whose active vehicle matches
        the class filter and whose prices are within the current limits. Positions are rounded to ~100 m;
        no phone numbers. At most 50 drivers.
      parameters:
        - { name: lat, in: query, required: true, schema: { type: number } }
        - { name: lng, in: query, required: true, schema: { type: number } }
        - { name: dest_lat, in: query, required: true, schema: { type: number } }
        - { name: dest_lng, in: query, required: true, schema: { type: number } }
        - { name: class, in: query, schema: { $ref: "#/components/schemas/VehicleClass" } }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [trip, drivers]
                properties:
                  trip:
                    type: object
                    required: [distance_km, est_minutes]
                    properties:
                      distance_km: { type: number }
                      est_minutes: { type: integer }
                  drivers:
                    type: array
                    items: { $ref: "#/components/schemas/NearbyDriver" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "422": { $ref: "#/components/responses/ValidationOrNotServed" }

  /rides/estimate:
    post:
      tags: [Rides]
      operationId: estimateRide
      x-jali-story: S3.6
      x-jali-permission: request-rides
      summary: Price range and nearest ETA per vehicle class
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/TripPoints" }
      responses:
        "200":
          description: Every class, in order moto → van; classes without drivers have available=false
          content:
            application/json:
              schema:
                type: object
                required: [trip, classes]
                properties:
                  trip:
                    type: object
                    required: [distance_km, est_minutes]
                    properties:
                      distance_km: { type: number }
                      est_minutes: { type: integer }
                  classes:
                    type: array
                    items:
                      type: object
                      required: [class, available, drivers, min_quote, max_quote, nearest_eta_min]
                      properties:
                        class: { $ref: "#/components/schemas/VehicleClass" }
                        available: { type: boolean }
                        drivers: { type: integer }
                        min_quote: { type: [integer, "null"] }
                        max_quote: { type: [integer, "null"] }
                        nearest_eta_min: { type: [integer, "null"] }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "422": { $ref: "#/components/responses/ValidationOrNotServed" }

  /rides:
    get:
      tags: [Rides]
      operationId: listMyRides
      x-jali-story: S4.6
      x-jali-permission: request-rides
      summary: My ride history (paginated)
      parameters:
        - { name: page, in: query, schema: { type: integer, minimum: 1 } }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Ride" }
                  next_page: { type: [integer, "null"] }
    post:
      tags: [Rides]
      operationId: requestRide
      x-jali-story: S3.4, S3.5
      x-jali-permission: request-rides
      summary: Request a ride from one driver (pick) or all nearby (broadcast)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: "#/components/schemas/TripPoints"
                - type: object
                  required: [mode]
                  properties:
                    mode: { type: string, enum: [pick, broadcast], description: "pick: one driver (driver_id required). broadcast: the nearest drivers within max_fare; first to accept wins at their own price (S3.5)" }
                    driver_id: { type: integer, description: "pick only: a driver from /rides/nearby" }
                    vehicle_class: { oneOf: [{ $ref: "#/components/schemas/VehicleClass" }, { type: "null" }], description: broadcast only }
                    max_fare: { type: [integer, "null"], minimum: 500, description: "broadcast only: only drivers whose total is at or under this" }
                    payment_method: { type: string, enum: [cash, momo], default: cash }
      responses:
        "201":
          description: Ride requested — price locked, driver notified
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Ride" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/ForbiddenOrPaused" }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/ValidationOrNotServed" }
        "429": { $ref: "#/components/responses/TooManyRequests" }

  /rides/active:
    get:
      tags: [Rides]
      operationId: getActiveRide
      x-jali-story: S4.1
      summary: My current ride as rider or driver, or null (poll every few seconds during a trip)
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/Ride"
                  - type: "null"

  /rides/{id}:
    parameters:
      - $ref: "#/components/parameters/RideId"
    get:
      tags: [Rides]
      operationId: getRide
      x-jali-story: S4.1
      summary: Ride detail (rider or assigned driver only)
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Ride" }
        "404": { $ref: "#/components/responses/NotFound" }

  /rides/{id}/cancel:
    parameters:
      - $ref: "#/components/parameters/RideId"
    post:
      tags: [Rides]
      operationId: cancelRide
      x-jali-story: S4.3
      summary: Cancel as rider (requested/accepted/arrived) or driver (accepted/arrived)
      description: |
        Rider reasons: changed_plans, driver_too_far, driver_asked_to_cancel, found_other_transport, wrong_pickup, other.
        Driver reasons: rider_not_at_pickup, rider_asked_to_cancel, vehicle_problem, unsafe, traffic, other.
        A rider cancelling after the driver waited longer than free_wait_min pays cancel_fee.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason: { type: string }
      responses:
        "200":
          description: Cancelled
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Ride" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/ValidationError" }

  /rides/{id}/accept:
    parameters:
      - $ref: "#/components/parameters/RideId"
    post:
      tags: [Driver rides]
      operationId: acceptRide
      x-jali-story: S5.2
      x-jali-permission: offer-rides
      summary: Accept a request (atomic — 409 if another driver won)
      responses:
        "200":
          description: Accepted
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Ride" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }

  /rides/{id}/decline:
    parameters:
      - $ref: "#/components/parameters/RideId"
    post:
      tags: [Driver rides]
      operationId: declineRide
      x-jali-story: S5.2
      x-jali-permission: offer-rides
      summary: Decline a request (no penalty); the rider is told to choose another driver
      responses:
        "200":
          description: Declined
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Ride" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }

  /rides/{id}/arrive:
    parameters:
      - $ref: "#/components/parameters/RideId"
    post:
      tags: [Driver rides]
      operationId: arriveAtPickup
      x-jali-story: S4.1
      x-jali-permission: offer-rides
      summary: Driver is at the pickup
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Ride" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }

  /rides/{id}/start:
    parameters:
      - $ref: "#/components/parameters/RideId"
    post:
      tags: [Driver rides]
      operationId: startRide
      x-jali-story: S4.2
      x-jali-permission: offer-rides
      summary: Start the trip with the rider's 4-digit PIN
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [pin]
              properties:
                pin: { type: string, pattern: "^[0-9]{4}$" }
      responses:
        "200":
          description: In progress
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Ride" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/ValidationError" }
        "423":
          description: Too many wrong PINs — ride flagged for support
          content:
            application/json:
              schema:
                type: object
                properties:
                  message: { type: string }

  /rides/{id}/complete:
    parameters:
      - $ref: "#/components/parameters/RideId"
    post:
      tags: [Driver rides]
      operationId: completeRide
      x-jali-story: S4.4
      x-jali-permission: offer-rides
      summary: End the trip and record the payment method
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [payment_method]
              properties:
                payment_method: { type: string, enum: [cash, momo] }
      responses:
        "200":
          description: Completed
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Ride" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }

  /rides/{id}/rate:
    parameters:
      - $ref: "#/components/parameters/RideId"
    post:
      tags: [Rides]
      operationId: rateRide
      x-jali-story: S4.5
      summary: Rate the other party (once per ride)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [stars]
              properties:
                stars: { type: integer, minimum: 1, maximum: 5 }
                tags: { type: array, items: { type: string } }
                comment: { type: string, maxLength: 500 }
      responses:
        "201": { $ref: "#/components/responses/Message" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/ValidationError" }

  /admin/drivers:
    get:
      tags: [Admin rides]
      operationId: listDriverApplications
      x-jali-story: S1.4
      x-jali-permission: verify-drivers
      summary: Driver applications by status, oldest submission first
      parameters:
        - name: status
          in: query
          schema: { type: string, enum: [pending, verified, rejected, suspended], default: pending }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required: [user_id, name, phone, services, status, submitted_at]
                  properties:
                    user_id: { type: integer }
                    name: { type: [string, "null"] }
                    phone: { type: [string, "null"] }
                    services: { type: array, items: { $ref: "#/components/schemas/DriverService" } }
                    status: { type: string, enum: [pending, verified, rejected, suspended] }
                    submitted_at: { type: [string, "null"], format: date-time }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /rides/{id}/share:
    parameters:
      - $ref: "#/components/parameters/RideId"
    post:
      tags: [Rides]
      operationId: shareRide
      x-jali-story: S8.1
      x-jali-permission: request-rides
      summary: Live link for family/friends — works only while the ride is active
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [url]
                properties:
                  url: { type: string, description: "https://…/t/{token}" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }

  /rides/{id}/sos:
    parameters:
      - $ref: "#/components/parameters/RideId"
    post:
      tags: [Rides]
      operationId: rideSos
      x-jali-story: S8.2
      x-jali-permission: request-rides
      summary: "SOS: flag the ride, alert admins, text my emergency contact; the app then dials 112"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                lat: { type: [number, "null"] }
                lng: { type: [number, "null"] }
      responses:
        "200":
          description: Alert sent
          content:
            application/json:
              schema:
                type: object
                required: [flagged, emergency_contact_notified, share_url, call]
                properties:
                  flagged: { type: boolean }
                  emergency_contact_notified: { type: boolean }
                  share_url: { type: [string, "null"] }
                  call: { type: string, enum: ["112"] }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/ValidationError" }

  /me/emergency-contact:
    get:
      tags: [Identity]
      operationId: getEmergencyContact
      x-jali-story: S8.2
      x-jali-permission: request-rides
      summary: My emergency contact
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/EmergencyContact" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
    put:
      tags: [Identity]
      operationId: putEmergencyContact
      x-jali-story: S8.2
      x-jali-permission: request-rides
      summary: Set my emergency contact
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, phone]
              properties:
                name: { type: string }
                phone: { type: string }
      responses:
        "200":
          description: Saved
          content:
            application/json:
              schema: { $ref: "#/components/schemas/EmergencyContact" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "422": { $ref: "#/components/responses/ValidationError" }

  /share/{token}:
    parameters:
      - { name: token, in: path, required: true, schema: { type: string, pattern: "^[A-Za-z0-9]{40}$" } }
    get:
      tags: [Rides]
      operationId: getSharedTrip
      x-jali-story: S8.1
      security: []
      summary: "PUBLIC: what someone with the link sees (first names only, ~100 m position). 410 once the ride ended"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [status, active, rider, driver, vehicle, position, updated_at]
                properties:
                  status: { $ref: "#/components/schemas/RideStatus" }
                  active: { type: boolean }
                  rider:
                    type: object
                    properties:
                      first_name: { type: string }
                  driver:
                    type: [object, "null"]
                    properties:
                      name: { type: string }
                      photo: { type: [string, "null"] }
                  vehicle:
                    type: [object, "null"]
                    properties:
                      model: { type: string }
                      color: { type: [string, "null"] }
                      plate: { type: string }
                      photo: { type: [string, "null"] }
                  position:
                    type: [object, "null"]
                    properties:
                      lat: { type: number }
                      lng: { type: number }
                      at: { type: [string, "null"] }
                  pickup: { type: [string, "null"] }
                  dropoff: { type: [string, "null"] }
                  updated_at: { type: string, format: date-time }
        "404": { $ref: "#/components/responses/NotFound" }
        "410":
          description: The trip has ended
          content:
            application/json:
              schema:
                type: object
                properties:
                  message: { type: string }
                  status: { $ref: "#/components/schemas/RideStatus" }

  /admin/drivers/review:
    get:
      tags: [Admin rides]
      operationId: listDriversForReview
      x-jali-story: S8.4
      x-jali-permission: verify-drivers
      summary: Drivers with a low rating (after enough rated trips) or a high recent cancel rate
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required: [user_id, name, rating, rating_count, accepted, cancelled, cancel_pct, reasons, warned_at]
                  properties:
                    user_id: { type: integer }
                    name: { type: [string, "null"] }
                    phone: { type: [string, "null"] }
                    rating: { type: number }
                    rating_count: { type: integer }
                    accepted: { type: integer }
                    cancelled: { type: integer }
                    cancel_pct: { type: number }
                    reasons: { type: array, items: { type: string, enum: [low_rating, high_cancel_rate] } }
                    warned_at: { type: [string, "null"], format: date-time }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /admin/drivers/{userId}/warn:
    parameters:
      - $ref: "#/components/parameters/UserId"
    post:
      tags: [Admin rides]
      operationId: warnDriver
      x-jali-story: S8.4
      x-jali-permission: verify-drivers
      summary: Send the driver a warning (push) — logged
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [message]
              properties:
                message: { type: string, minLength: 5, maxLength: 500 }
      responses:
        "200":
          description: Sent
          content:
            application/json:
              schema:
                type: object
                properties:
                  message: { type: string }
                  warned_at: { type: string, format: date-time }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/ValidationError" }

  /rides/{id}/messages:
    parameters:
      - $ref: "#/components/parameters/RideId"
    get:
      tags: [Rides]
      operationId: listRideMessages
      x-jali-story: S9.5
      x-jali-permission: request-rides
      summary: Chat with my driver/rider (poll with after_id)
      parameters:
        - { name: after_id, in: query, schema: { type: integer } }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [open, phrases, messages]
                properties:
                  open: { type: boolean, description: Chat is open between accept and completion }
                  phrases: { type: array, items: { $ref: "#/components/schemas/ChatPhrase" } }
                  messages: { type: array, items: { $ref: "#/components/schemas/RideMessage" } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
    post:
      tags: [Rides]
      operationId: postRideMessage
      x-jali-story: S9.5
      x-jali-permission: request-rides
      summary: Send a quick phrase (shown in each side's language) or free text (no phone numbers or links)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                phrase: { oneOf: [{ $ref: "#/components/schemas/ChatPhrase" }, { type: "null" }] }
                body: { type: [string, "null"], maxLength: 300 }
      responses:
        "201":
          description: Sent
          content:
            application/json:
              schema: { $ref: "#/components/schemas/RideMessage" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/ValidationError" }

  /rides/{id}/receipt:
    parameters:
      - $ref: "#/components/parameters/RideId"
    post:
      tags: [Rides]
      operationId: rideReceipt
      x-jali-story: S9.6
      x-jali-permission: request-rides
      summary: Printable receipt link (save as PDF); email it again with email=true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email: { type: boolean }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ReceiptLink" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }

  /driver-hire/{id}/receipt:
    parameters:
      - $ref: "#/components/parameters/HireId"
    post:
      tags: [Hire]
      operationId: hireReceipt
      x-jali-story: S9.6
      x-jali-permission: request-rides
      summary: Printable receipt link for my hire; email it again with email=true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email: { type: boolean }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ReceiptLink" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }

  /fx/rates:
    get:
      tags: [Rides]
      operationId: getFxRates
      x-jali-story: S9.4
      x-jali-permission: request-rides
      summary: Approximate value of 1 RWF in other currencies (refreshed daily; hidden when older than 3 days)
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [base, rates, fetched_at, stale]
                properties:
                  base: { type: string, enum: [RWF] }
                  rates:
                    type: [object, "null"]
                    properties:
                      USD: { type: number }
                      EUR: { type: number }
                      GBP: { type: number }
                      KES: { type: number }
                  fetched_at: { type: [string, "null"], format: date-time }
                  stale: { type: boolean }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /admin/drivers/{userId}:
    parameters:
      - $ref: "#/components/parameters/UserId"
    get:
      tags: [Admin rides]
      operationId: getDriverApplication
      x-jali-story: S1.4
      x-jali-permission: verify-drivers
      summary: Full application with documents, vehicles and prices
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DriverApplication" }
        "404": { $ref: "#/components/responses/NotFound" }

  /admin/drivers/{userId}/verify:
    parameters:
      - $ref: "#/components/parameters/UserId"
    post:
      tags: [Admin rides]
      operationId: verifyDriver
      x-jali-story: S1.4
      x-jali-permission: verify-drivers
      summary: Approve a pending application (documents approved; riders get the driver role; push sent)
      responses:
        "200":
          description: Verified
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DriverApplication" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }

  /admin/drivers/{userId}/reject:
    parameters:
      - $ref: "#/components/parameters/UserId"
    post:
      tags: [Admin rides]
      operationId: rejectDriver
      x-jali-story: S1.4
      x-jali-permission: verify-drivers
      summary: Reject with a reason, optionally per document
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason: { type: string, maxLength: 500 }
                documents:
                  type: object
                  description: "Document type → reason, e.g. {\"selfie\": \"Face not visible\"}"
                  additionalProperties: { type: string }
      responses:
        "200":
          description: Rejected
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DriverApplication" }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/ValidationError" }

  /admin/drivers/{userId}/suspend:
    parameters:
      - $ref: "#/components/parameters/UserId"
    post:
      tags: [Admin rides]
      operationId: suspendDriver
      x-jali-story: S1.4
      x-jali-permission: verify-drivers
      summary: Suspend a driver (cannot go online or accept rides)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason: { type: string, maxLength: 500 }
      responses:
        "200":
          description: Suspended
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DriverApplication" }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/ValidationError" }

  /driver/hire-settings:
    get:
      tags: [Driver hire]
      operationId: getHireSettings
      x-jali-story: S6.1
      x-jali-permission: offer-driver-hire
      summary: My hire-a-driver prices, skills and Jali's limits (verified drivers only)
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/HireSettingsPayload" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
    put:
      tags: [Driver hire]
      operationId: putHireSettings
      x-jali-story: S6.1
      x-jali-permission: offer-driver-hire
      summary: Save hire prices (validated against superadmin limits) and skills
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: "#/components/schemas/HireRates"
                - type: object
                  required: [transmissions, languages, years_experience]
                  properties:
                    is_active: { type: boolean }
                    transmissions: { type: array, minItems: 1, items: { $ref: "#/components/schemas/Transmission" } }
                    languages: { type: array, minItems: 1, items: { $ref: "#/components/schemas/HireLanguage" } }
                    years_experience: { type: integer, minimum: 0, maximum: 60 }
      responses:
        "200":
          description: Saved
          content:
            application/json:
              schema: { $ref: "#/components/schemas/HireSettingsPayload" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "422": { $ref: "#/components/responses/ValidationError" }

  /driver/availability:
    get:
      tags: [Driver hire]
      operationId: getAvailability
      x-jali-story: S6.2
      x-jali-permission: offer-driver-hire
      summary: Weekly hours, blocked dates and booked hires
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Availability" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
    put:
      tags: [Driver hire]
      operationId: putAvailability
      x-jali-story: S6.2
      x-jali-permission: offer-driver-hire
      summary: Replace weekly hours and blocked dates (no weekly hours = available any time)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [weekly, blocked_dates]
              properties:
                weekly: { type: array, maxItems: 7, items: { $ref: "#/components/schemas/WeeklyHours" } }
                blocked_dates: { type: array, items: { type: string, format: date } }
      responses:
        "200":
          description: Saved
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Availability" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "422": { $ref: "#/components/responses/ValidationError" }

  /driver/hires:
    get:
      tags: [Driver hire]
      operationId: listDriverHires
      x-jali-story: S6.4
      x-jali-permission: offer-driver-hire
      summary: My hire requests, upcoming bookings or past hires
      parameters:
        - { name: scope, in: query, schema: { type: string, enum: [requests, upcoming, past], default: requests } }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { type: array, items: { $ref: "#/components/schemas/DriverHire" } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "422": { $ref: "#/components/responses/ValidationError" }

  /driver-hire/available:
    get:
      tags: [Hire]
      operationId: findHireDrivers
      x-jali-story: S6.3
      x-jali-permission: request-rides
      summary: Verified drivers free for the window who drive my transmission, with a full quote
      parameters:
        - { name: start_at, in: query, required: true, description: "At least 30 min from now, at most 90 days", schema: { type: string, format: date-time } }
        - { name: duration_type, in: query, required: true, schema: { type: string, enum: [hours, days] } }
        - { name: duration_value, in: query, required: true, description: "Hours (max 16) or days (max hire.max_days)", schema: { type: integer, minimum: 1 } }
        - { name: trip_type, in: query, required: true, schema: { $ref: "#/components/schemas/HireTripType" } }
        - { name: transmission, in: query, required: true, schema: { $ref: "#/components/schemas/Transmission" } }
      responses:
        "200":
          description: Best rated first, then cheapest
          content:
            application/json:
              schema:
                type: object
                required: [drivers]
                properties:
                  drivers: { type: array, items: { $ref: "#/components/schemas/AvailableHireDriver" } }
                  policy:
                    type: object
                    description: "S6.5: rules shown before booking (provider terms, no Jali fee)"
                    properties:
                      free_cancel_hours: { type: integer }
                      late_cancel_pct: { type: integer }
                      no_show_grace_min: { type: integer }
                      overtime_grace_min: { type: integer }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "422": { $ref: "#/components/responses/ValidationError" }

  /driver-hire:
    get:
      tags: [Hire]
      operationId: listMyHires
      x-jali-story: S6.3
      x-jali-permission: request-rides
      summary: My hires as a customer, newest first
      parameters:
        - { name: page, in: query, schema: { type: integer, minimum: 1 } }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [data, next_page]
                properties:
                  data: { type: array, items: { $ref: "#/components/schemas/DriverHire" } }
                  next_page: { type: [integer, "null"] }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
    post:
      tags: [Hire]
      operationId: bookHire
      x-jali-story: S6.3
      x-jali-permission: request-rides
      summary: Book a driver for my car — price locked, driver notified (status requested)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [driver_id, start_at, duration_type, duration_value, trip_type, transmission, pickup, accept_terms]
              properties:
                driver_id: { type: integer }
                start_at: { type: string, format: date-time }
                duration_type: { type: string, enum: [hours, days] }
                duration_value: { type: integer, minimum: 1 }
                trip_type: { $ref: "#/components/schemas/HireTripType" }
                transmission: { $ref: "#/components/schemas/Transmission" }
                pickup: { $ref: "#/components/schemas/Place" }
                car_description: { type: [string, "null"], maxLength: 200 }
                notes: { type: [string, "null"], maxLength: 500 }
                payment_method: { type: string, enum: [cash, momo], default: cash }
                accept_terms: { type: boolean, description: "Must be true: fuel, damage and meals terms (legal/hire-terms)" }
      responses:
        "201":
          description: Requested
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DriverHire" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/ForbiddenOrPaused" }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/ValidationOrNotServed" }
        "429": { $ref: "#/components/responses/TooManyRequests" }

  /driver-hire/{id}:
    parameters:
      - $ref: "#/components/parameters/HireId"
    get:
      tags: [Hire]
      operationId: getHire
      x-jali-story: S6.4
      x-jali-permission: request-rides
      summary: Customer or driver of this hire only (404 otherwise)
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DriverHire" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  /driver-hire/{id}/cancel:
    parameters:
      - $ref: "#/components/parameters/HireId"
    post:
      tags: [Hire]
      operationId: cancelHire
      x-jali-story: S6.4
      x-jali-permission: request-rides
      summary: "Customer: free while requested or until hire.free_cancel_hours before the start, then a fee. Driver: accepted hires only."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason:
                  type: string
                  enum: [changed_plans, found_another_driver, driver_asked_to_cancel, booked_by_mistake, not_available, customer_asked_to_cancel, too_far, unsafe, other]
                  description: Customer and driver have separate lists
      responses:
        "200":
          description: Cancelled
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DriverHire" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/ValidationError" }

  /driver-hire/{id}/no-show:
    post:
      tags: [Hire]
      operationId: reportHireNoShow
      x-jali-story: S6.5
      x-jali-permission: request-rides
      summary: "The other side didn't come: customer → no_show_driver (no fee); driver → no_show_customer (late-cancel fee)"
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
      responses:
        "200":
          description: Ended
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DriverHire" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
  /driver-hire/{id}/dispute:
    post:
      tags: [Hire]
      operationId: disputeHireHours
      x-jali-story: S6.5
      x-jali-permission: request-rides
      summary: Dispute the recorded hours of a completed hire (once, within hire.dispute_days); reaches admins
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason: { type: string, minLength: 10, maxLength: 1000 }
                claimed_end: { type: [string, "null"], maxLength: 40 }
      responses:
        "201":
          description: Sent to Jali
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DriverHire" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/ValidationError" }
  /driver-hire/{id}/rate:
    parameters:
      - $ref: "#/components/parameters/HireId"
    post:
      tags: [Hire]
      operationId: rateHire
      x-jali-story: S6.4
      x-jali-permission: request-rides
      summary: Rate the other side once, after completion
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [stars]
              properties:
                stars: { type: integer, minimum: 1, maximum: 5 }
                tags: { type: array, maxItems: 6, items: { type: string, maxLength: 40 } }
                comment: { type: [string, "null"], maxLength: 500 }
      responses:
        "201": { $ref: "#/components/responses/Message" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/ValidationError" }

  /driver-hire/{id}/accept:
    parameters:
      - $ref: "#/components/parameters/HireId"
    post:
      tags: [Driver hire]
      operationId: acceptHire
      x-jali-story: S6.4
      x-jali-permission: offer-driver-hire
      summary: Accept — 409 if no longer open or it overlaps another accepted hire
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DriverHire" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }

  /driver-hire/{id}/decline:
    parameters:
      - $ref: "#/components/parameters/HireId"
    post:
      tags: [Driver hire]
      operationId: declineHire
      x-jali-story: S6.4
      x-jali-permission: offer-driver-hire
      summary: Decline — the customer is told to choose another driver
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DriverHire" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }

  /driver-hire/{id}/check-in:
    parameters:
      - $ref: "#/components/parameters/HireId"
    post:
      tags: [Driver hire]
      operationId: checkInHire
      x-jali-story: S6.4
      x-jali-permission: offer-driver-hire
      summary: Start — from 2 h before the start time until the booked end
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DriverHire" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }

  /driver-hire/{id}/check-out:
    parameters:
      - $ref: "#/components/parameters/HireId"
    post:
      tags: [Driver hire]
      operationId: checkOutHire
      x-jali-story: S6.4
      x-jali-permission: offer-driver-hire
      summary: Finish — overtime computed from the locked rate after a grace period
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [payment_method]
              properties:
                payment_method: { type: string, enum: [cash, momo] }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DriverHire" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/ValidationError" }

  /driver/earnings:
    get:
      tags: [Driver]
      operationId: getDriverEarnings
      x-jali-story: S5.4
      x-jali-permission: offer-rides
      summary: Earnings by period (rides + hires), what I owe Jali, ledger, settlements and payouts
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DriverEarnings" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /driver/settlements:
    post:
      tags: [Driver]
      operationId: postSettlement
      x-jali-story: S7.2
      x-jali-permission: offer-rides
      summary: I paid Jali by MoMo — an admin confirms (one pending at a time)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount, reference]
              properties:
                amount: { type: integer, minimum: 100 }
                reference: { type: string, description: MoMo transaction ID }
      responses:
        "201":
          description: Waiting for confirmation
          content:
            application/json:
              schema:
                type: object
                required: [id, status]
                properties:
                  id: { type: integer }
                  status: { type: string, enum: [pending] }
                  message: { type: string }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/ValidationError" }

  /driver/momo:
    put:
      tags: [Driver]
      operationId: putDriverMomo
      x-jali-story: S7.1
      x-jali-permission: offer-rides
      summary: My MoMo number and name — shown to riders who pay by MoMo
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [momo_number, momo_name]
              properties:
                momo_number: { type: string }
                momo_name: { type: string }
      responses:
        "200":
          description: Saved
          content:
            application/json:
              schema:
                type: object
                required: [momo]
                properties:
                  momo:
                    type: object
                    properties:
                      number: { type: string }
                      name: { type: string }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "422": { $ref: "#/components/responses/ValidationError" }

  /driver/payouts:
    post:
      tags: [Driver]
      operationId: postDriverPayout
      x-jali-story: S7.2
      x-jali-permission: offer-rides
      summary: Cash out what Jali owes me to my MoMo (in-app payments)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount]
              properties:
                amount: { type: integer, minimum: 1000 }
      responses:
        "201":
          description: Requested
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: { type: integer }
                  status: { type: string }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "422": { $ref: "#/components/responses/ValidationError" }

  /admin/settlements:
    get:
      tags: [Admin rides]
      operationId: listSettlements
      x-jali-story: S7.2
      x-jali-permission: manage-rides
      summary: Drivers' MoMo commission payments to confirm
      parameters:
        - { name: status, in: query, schema: { type: string, enum: [pending, confirmed, rejected], default: pending } }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required: [id, driver, amount, reference, status, owed, at]
                  properties:
                    id: { type: integer }
                    driver:
                      type: object
                      properties:
                        id: { type: integer }
                        name: { type: [string, "null"] }
                        phone: { type: [string, "null"] }
                    amount: { type: integer }
                    reference: { type: string }
                    status: { type: string, enum: [pending, confirmed, rejected] }
                    owed: { type: integer }
                    at: { type: [string, "null"], format: date-time }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /admin/settlements/{id}/confirm:
    parameters:
      - { name: id, in: path, required: true, schema: { type: integer } }
    post:
      tags: [Admin rides]
      operationId: confirmSettlement
      x-jali-story: S7.2
      x-jali-permission: manage-rides
      summary: Payment received — credit the driver's ledger
      responses:
        "200":
          description: Confirmed
          content:
            application/json:
              schema:
                type: object
                required: [id, status, owed]
                properties:
                  id: { type: integer }
                  status: { type: string, enum: [confirmed] }
                  owed: { type: integer }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }

  /admin/settlements/{id}/reject:
    parameters:
      - { name: id, in: path, required: true, schema: { type: integer } }
    post:
      tags: [Admin rides]
      operationId: rejectSettlement
      x-jali-story: S7.2
      x-jali-permission: manage-rides
      summary: Payment not found — the driver is told why
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [note]
              properties:
                note: { type: string }
      responses:
        "200":
          description: Rejected
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: { type: integer }
                  status: { type: string, enum: [rejected] }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/ValidationError" }

  /admin/rides/live:
    get:
      tags: [Admin rides]
      operationId: getLiveOperations
      x-jali-story: S10.1
      x-jali-permission: manage-rides
      summary: Online drivers, active rides and counters (poll every 10 s)
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [counters, drivers, rides]
                properties:
                  counters:
                    type: object
                    required: [drivers_online, drivers_online_by_class, drivers_on_trip, rides_by_status, expired_last_hour, completed_today]
                    properties:
                      drivers_online: { type: integer }
                      drivers_online_by_class: { type: object, additionalProperties: { type: integer } }
                      drivers_on_trip: { type: integer }
                      rides_by_status: { type: object, additionalProperties: { type: integer } }
                      expired_last_hour: { type: integer }
                      completed_today: { type: integer }
                  drivers:
                    type: array
                    items:
                      type: object
                      required: [user_id, name, class, plate, lat, lng, on_trip, last_seen_at]
                      properties:
                        user_id: { type: integer }
                        name: { type: [string, "null"] }
                        class: { oneOf: [{ $ref: "#/components/schemas/VehicleClass" }, { type: "null" }] }
                        plate: { type: [string, "null"] }
                        lat: { type: [number, "null"] }
                        lng: { type: [number, "null"] }
                        on_trip: { type: boolean }
                        last_seen_at: { type: [string, "null"], format: date-time }
                  rides:
                    type: array
                    items: { $ref: "#/components/schemas/AdminRideSummary" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /admin/rides:
    get:
      tags: [Admin rides]
      operationId: listAdminRides
      x-jali-story: S10.2
      x-jali-permission: manage-rides
      summary: All rides, newest first, with filters
      parameters:
        - { name: status, in: query, schema: { $ref: "#/components/schemas/RideStatus" } }
        - { name: from, in: query, description: "Kigali date, inclusive", schema: { type: string, format: date } }
        - { name: to, in: query, description: "Kigali date, inclusive", schema: { type: string, format: date } }
        - { name: rider, in: query, description: Name or phone contains, schema: { type: string } }
        - { name: driver, in: query, description: Name or phone contains, schema: { type: string } }
        - { name: flagged, in: query, description: "PIN-locked or rated 2★ or less", schema: { type: boolean } }
        - { name: page, in: query, schema: { type: integer, minimum: 1 } }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [data, next_page]
                properties:
                  data: { type: array, items: { $ref: "#/components/schemas/AdminRideSummary" } }
                  next_page: { type: [integer, "null"] }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "422": { $ref: "#/components/responses/ValidationError" }

  /admin/rides/{id}:
    parameters:
      - $ref: "#/components/parameters/RideId"
    get:
      tags: [Admin rides]
      operationId: getAdminRide
      x-jali-story: S10.2
      x-jali-permission: manage-rides
      summary: Ride with timeline, fare breakdown and ratings
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AdminRideDetail" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  /admin/rides/{id}/adjust:
    parameters:
      - $ref: "#/components/parameters/RideId"
    post:
      tags: [Admin rides]
      operationId: adjustRide
      x-jali-story: S10.2
      x-jali-permission: manage-rides
      summary: Change the final fare and/or commission of a completed ride (note required, logged)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [note]
              properties:
                final_fare: { type: [integer, "null"], minimum: 0 }
                commission: { type: [integer, "null"], minimum: 0 }
                note: { type: string, minLength: 5, maxLength: 500 }
      responses:
        "200":
          description: Adjusted
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AdminRideDetail" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/ValidationError" }

  /analytics/rides:
    get:
      tags: [Admin rides]
      operationId: getRideAnalytics
      x-jali-story: S10.3
      x-jali-permission: view-analytics
      summary: Ride metrics by Kigali day or week, fare per km by class and top drivers
      parameters:
        - { name: period, in: query, schema: { type: string, enum: [day, week], default: day } }
        - { name: from, in: query, description: "Kigali date, inclusive (default 29 days before to)", schema: { type: string, format: date } }
        - { name: to, in: query, description: "Kigali date, inclusive (default today); range is at most 92 days", schema: { type: string, format: date } }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [period, from, to, totals, series, fare_per_km_by_class, top_drivers]
                properties:
                  period: { type: string, enum: [day, week] }
                  from: { type: string, format: date }
                  to: { type: string, format: date }
                  totals: { $ref: "#/components/schemas/RideMetrics" }
                  series:
                    type: array
                    items:
                      allOf:
                        - $ref: "#/components/schemas/RideMetrics"
                        - type: object
                          required: [bucket]
                          properties:
                            bucket: { type: string, format: date, description: "The day, or the Monday that starts the week" }
                  fare_per_km_by_class:
                    type: object
                    description: Average RWF per estimated km across completed rides
                    additionalProperties: { type: integer }
                  top_drivers:
                    type: object
                    required: [by_trips, by_rating]
                    properties:
                      by_trips: { type: array, items: { $ref: "#/components/schemas/TopDriver" } }
                      by_rating:
                        type: array
                        description: Drivers with at least 3 completed trips in the window
                        items: { $ref: "#/components/schemas/TopDriver" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "422": { $ref: "#/components/responses/ValidationError" }

  /admin/settings/rides:
    get:
      tags: [Admin rides]
      operationId: getRideSettings
      x-jali-story: S2.2
      x-jali-permission: manage-ride-pricing
      summary: Pricing guardrails, commission, radius and timeouts (defaults until saved)
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/RideSettings" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
    put:
      tags: [Admin rides]
      operationId: putRideSettings
      summary: Update pricing guardrails and dispatch settings (partial updates allowed)
      x-jali-story: S2.2
      x-jali-permission: manage-ride-pricing
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/RideSettingsUpdate" }
      responses:
        "200":
          description: Saved
          content:
            application/json:
              schema: { $ref: "#/components/schemas/RideSettings" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "422": { $ref: "#/components/responses/ValidationError" }

  # ── Help centre (S16.2) ─────────────────────────────────────────────────
  /help/topics:
    get:
      tags: [Help]
      operationId: listHelpTopics
      x-jali-story: S16.2
      x-jali-permission: use-support
      summary: Published topics in the reader's language (falls back to English), filtered by service / context / text
      parameters:
        - { name: service, in: query, schema: { $ref: "#/components/schemas/ServiceKey" } }
        - { name: context, in: query, schema: { $ref: "#/components/schemas/HelpContext" } }
        - { name: q, in: query, schema: { type: string, maxLength: 80 } }
        - { name: locale, in: query, schema: { $ref: "#/components/schemas/Locale" }, description: "Defaults to Accept-Language, then en" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/HelpTopic" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "422": { $ref: "#/components/responses/ValidationError" }
  /help/topics/{slug}:
    get:
      tags: [Help]
      operationId: getHelpTopic
      x-jali-story: S16.2
      x-jali-permission: use-support
      summary: One published topic
      parameters:
        - { name: slug, in: path, required: true, schema: { type: string } }
        - { name: locale, in: query, schema: { $ref: "#/components/schemas/Locale" } }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/HelpTopic" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
  /admin/help-topics:
    get:
      tags: [Help]
      operationId: adminListHelpTopics
      x-jali-story: S16.2
      x-jali-permission: manage-support
      summary: Every topic with all 4 languages, drafts included
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/AdminHelpTopic" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
    post:
      tags: [Help]
      operationId: createHelpTopic
      x-jali-story: S16.2
      x-jali-permission: manage-support
      summary: Add a topic (title and body required in en, fr, rw and sw; logged)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/HelpTopicInput" }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AdminHelpTopic" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "422": { $ref: "#/components/responses/ValidationError" }
  /admin/help-topics/{id}:
    parameters:
      - { name: id, in: path, required: true, schema: { type: integer } }
    put:
      tags: [Help]
      operationId: updateHelpTopic
      x-jali-story: S16.2
      x-jali-permission: manage-support
      summary: Change a topic (partial; logged)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/HelpTopicInput" }
      responses:
        "200":
          description: Saved
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AdminHelpTopic" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/ValidationError" }
    delete:
      tags: [Help]
      operationId: deleteHelpTopic
      x-jali-story: S16.2
      x-jali-permission: manage-support
      summary: Delete a topic (logged)
      responses:
        "204": { description: Deleted }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  # ── Support tickets (S16.3) ─────────────────────────────────────────────
  /support/tickets:
    get:
      tags: [Support]
      operationId: listMyTickets
      x-jali-story: S16.3
      x-jali-permission: use-support
      summary: My tickets, latest activity first
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { type: object, required: [data], properties: { data: { type: array, items: { $ref: "#/components/schemas/SupportTicket" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
    post:
      tags: [Support]
      operationId: openTicket
      x-jali-story: S16.3
      x-jali-permission: use-support
      summary: Open a ticket, optionally about one of my rides/hires/rentals (safety = urgent)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/SupportTicketInput" }
      responses:
        "201":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SupportTicketDetail" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "422": { $ref: "#/components/responses/ValidationError" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
  /support/tickets/{id}:
    get:
      tags: [Support]
      operationId: getMyTicket
      x-jali-story: S16.3
      x-jali-permission: use-support
      summary: One of my tickets with its messages (staff names hidden)
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SupportTicketDetail" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
  /support/tickets/{id}/messages:
    post:
      tags: [Support]
      operationId: replyToMyTicket
      x-jali-story: S16.3
      x-jali-permission: use-support
      summary: Reply (reopens the ticket)
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, required: [body], properties: { body: { type: string, maxLength: 2000 } } }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SupportTicketDetail" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/ValidationError" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
  /support/tickets/{id}/resolve:
    post:
      tags: [Support]
      operationId: resolveMyTicket
      x-jali-story: S16.3
      x-jali-permission: use-support
      summary: Mark my ticket solved
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SupportTicketDetail" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
  /admin/support/tickets:
    get:
      tags: [Support]
      operationId: supportInbox
      x-jali-story: S16.3
      x-jali-permission: manage-support
      summary: "Inbox — urgent first, then by first-response deadline"
      parameters:
        - { name: status, in: query, schema: { type: string, enum: [open, answered, resolved], default: open } }
        - { name: priority, in: query, schema: { type: string, enum: [urgent, high, normal] } }
        - { name: mine, in: query, schema: { type: boolean } }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SupportInbox" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "422": { $ref: "#/components/responses/ValidationError" }
  /admin/support/tickets/{id}:
    get:
      tags: [Support]
      operationId: supportTicket
      x-jali-story: S16.3
      x-jali-permission: manage-support
      summary: Ticket with customer, SLA and messages
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/StaffSupportTicketDetail" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
  /admin/support/tickets/{id}/messages:
    post:
      tags: [Support]
      operationId: supportReply
      x-jali-story: S16.3
      x-jali-permission: manage-support
      summary: Reply as Jali support (pushes the customer; first reply stops the SLA timer)
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, required: [body], properties: { body: { type: string, maxLength: 2000 } } }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/StaffSupportTicketDetail" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/ValidationError" }
  /admin/support/tickets/{id}/assign:
    post:
      tags: [Support]
      operationId: supportAssign
      x-jali-story: S16.3
      x-jali-permission: manage-support
      summary: Assign (omit admin_id = me, null = unassign; logged)
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, properties: { admin_id: { type: [integer, "null"] } } }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/StaffSupportTicketDetail" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/ValidationError" }
  /admin/support/tickets/{id}/status:
    post:
      tags: [Support]
      operationId: supportStatus
      x-jali-story: S16.3
      x-jali-permission: manage-support
      summary: Set status (resolved pushes the customer; logged)
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, required: [status], properties: { status: { type: string, enum: [open, answered, resolved] } } }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/StaffSupportTicketDetail" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/ValidationError" }
  /admin/support/canned-replies:
    get:
      tags: [Support]
      operationId: listCannedReplies
      x-jali-story: S16.3
      x-jali-permission: manage-support
      summary: Saved replies
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { type: object, required: [data], properties: { data: { type: array, items: { $ref: "#/components/schemas/CannedReply" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
    post:
      tags: [Support]
      operationId: createCannedReply
      x-jali-story: S16.3
      x-jali-permission: manage-support
      summary: Save a reply
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, required: [title, body], properties: { title: { type: string, maxLength: 80 }, body: { type: string, maxLength: 2000 } } }
      responses:
        "201":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CannedReply" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "422": { $ref: "#/components/responses/ValidationError" }
  /admin/support/canned-replies/{id}:
    delete:
      tags: [Support]
      operationId: deleteCannedReply
      x-jali-story: S16.3
      x-jali-permission: manage-support
      summary: Delete a saved reply
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
      responses:
        "204": { description: Deleted }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  # ── Push delivery and opens (S12.3) ─────────────────────────────────────
  /me/notifications/{id}/opened:
    post:
      tags: [Identity]
      operationId: pushOpened
      x-jali-story: S12.3
      summary: The user tapped a push (`nid` in its data); cancels any pending SMS fallback
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
      responses:
        "204": { description: Recorded }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
  /admin/notifications/stats:
    get:
      tags: [Admin rides]
      operationId: pushStats
      x-jali-story: S12.3
      x-jali-permission: view-analytics
      summary: Delivery and open rates per notification type
      parameters:
        - { name: days, in: query, schema: { type: integer, minimum: 1, maximum: 90, default: 7 } }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [days, types]
                properties:
                  days: { type: integer }
                  types:
                    type: array
                    items:
                      type: object
                      required: [type, total, delivered, no_token, opened, sms_fallbacks, delivery_rate, open_rate]
                      properties:
                        type: { type: string, description: "data.screen, e.g. driver_ride" }
                        total: { type: integer }
                        delivered: { type: integer }
                        no_token: { type: integer }
                        opened: { type: integer }
                        sms_fallbacks: { type: integer }
                        delivery_rate: { type: number }
                        open_rate: { type: number }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "422": { $ref: "#/components/responses/ValidationError" }

  # ── Hire operations (S6.6) ──────────────────────────────────────────────
  /admin/hires:
    get:
      tags: [Admin rides]
      operationId: adminListHires
      x-jali-story: S6.6
      x-jali-permission: manage-rides
      summary: Search hires by status, start date, customer or driver (name or phone)
      parameters:
        - { name: status, in: query, schema: { $ref: "#/components/schemas/HireStatus" } }
[...]
