openapi: 3.1.0
info:
  title: Jali API
  version: 0.1.0
  description: |
    Contract between the Jali mobile app and the backend (Laravel today; any
    implementation that passes the contract tests can replace it — see
    `docs/api/README.md`).

    Scope of this version: identity, push tokens, driver profile, and the
    on-demand ride endpoints from `RIDE_HAILING_PLAN.md`. Operations marked
    `x-jali-status: planned` are agreed designs that are not implemented yet;
    everything else is implemented and checked by `backend/tests/Feature/ApiContractTest.php`.

    Conventions
    - All amounts are integers in RWF.
    - Coordinates are WGS84 decimal degrees.
    - Timestamps are ISO-8601 strings.
    - Errors: 401 `{error}`; 403 `{error}`; 409 `{message}`; 422 Laravel validation `{message, errors}`.
servers:
  - url: https://api.jali.rw/api
    description: Production
  - url: https://jali.stoka.rw/backend/public/api
    description: Dev
  - url: http://127.0.0.1:4010
    description: Prism mock (`npm run api:mock` in mobile/)

security:
  - bearerAuth: []

tags:
  - name: Identity
    description: Current user and device registration
  - name: Driver
    description: Driver profile, vehicles and rates
  - name: Rides
    description: Rider side of on-demand rides
  - name: Driver rides
    description: Driver side of on-demand rides
  - name: Admin rides
    description: Ride operations and pricing settings

paths:
  /me:
    get:
      tags: [Identity]
      operationId: getMe
      summary: Current user with role and permissions
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Me" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /me/push-token:
    post:
      tags: [Identity]
      operationId: registerPushToken
      summary: Register this device's push token (Expo or FCM)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties:
                token: { type: string, maxLength: 255, examples: ["ExponentPushToken[xxxxxxxx]"] }
      responses:
        "200": { $ref: "#/components/responses/Message" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/ValidationError" }
    delete:
      tags: [Identity]
      operationId: removePushToken
      summary: Stop push notifications to this account
      responses:
        "200": { $ref: "#/components/responses/Message" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /driver/profile:
    get:
      tags: [Driver]
      operationId: getDriverProfile
      summary: Driver profile, active vehicle and all vehicles
      x-jali-permission: create-private-seats
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DriverProfileResponse" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
    patch:
      tags: [Driver]
      operationId: updateDriverProfile
      summary: Save driver setup (profile + active vehicle)
      description: All fields optional. `car_model` and `plate` are required together the first time a vehicle is saved.
      x-jali-permission: create-private-seats
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/DriverProfileUpdate" }
      responses:
        "200":
          description: Saved profile
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DriverProfileResponse" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "422": { $ref: "#/components/responses/ValidationError" }

  # ── Driver pricing & presence (planned) ─────────────────────────────────
  /driver/rates:
    get:
      tags: [Driver]
      operationId: getDriverRates
      x-jali-story: S2.1
      x-jali-permission: offer-rides
      summary: My ride rates for the active vehicle, the guardrails that apply, and a price preview
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DriverRatesResponse" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
    put:
      tags: [Driver]
      operationId: putDriverRates
      x-jali-story: S2.1
      x-jali-permission: offer-rides
      summary: Set my ride rates (validated against the guardrails for my vehicle class)
      description: Rates are snapshotted when a ride is requested, so changes never affect rides already quoted.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/DriverRates" }
      responses:
        "200":
          description: Saved
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DriverRatesResponse" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "422": { $ref: "#/components/responses/ValidationError" }

  /driver/presence:
    post:
      tags: [Driver rides]
      operationId: postDriverPresence
      x-jali-status: planned
      x-jali-story: S5.1
      x-jali-permission: offer-rides
      summary: Online/offline heartbeat with position (every 5–10 s while online)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [online]
              properties:
                online: { type: boolean }
                lat: { type: number }
                lng: { type: number }
                heading: { type: [number, "null"] }
                vehicle_id: { type: integer }
      responses:
        "200":
          description: Presence stored
          content:
            application/json:
              schema:
                type: object
                properties:
                  online: { type: boolean }
                  blocked_reasons:
                    type: array
                    description: Why the driver cannot go online (unverified, no rates, insurance expired, commission owed…)
                    items: { type: string }

  /driver/ride-requests:
    get:
      tags: [Driver rides]
      operationId: listRideRequests
      x-jali-status: planned
      x-jali-story: S5.2
      x-jali-permission: offer-rides
      summary: Open ride requests sent to me (pick or broadcast)
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/RideRequestCard" }

  # ── Rider ───────────────────────────────────────────────────────────────
  /rides/nearby:
    get:
      tags: [Rides]
      operationId: getNearbyDrivers
      x-jali-status: planned
      x-jali-story: S3.2
      x-jali-permission: request-rides
      summary: Online drivers near the pickup, each with their own quote for this trip
      parameters:
        - { name: lat, in: query, required: true, schema: { type: number } }
        - { name: lng, in: query, required: true, schema: { type: number } }
        - { name: dest_lat, in: query, required: true, schema: { type: number } }
        - { name: dest_lng, in: query, required: true, schema: { type: number } }
        - { name: class, in: query, schema: { $ref: "#/components/schemas/VehicleClass" } }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/NearbyDriver" }

  /rides/estimate:
    post:
      tags: [Rides]
      operationId: estimateRide
      x-jali-status: planned
      x-jali-story: S3.6
      x-jali-permission: request-rides
      summary: Price range and nearest ETA per vehicle class
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/TripPoints" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required: [class, available]
                  properties:
                    class: { $ref: "#/components/schemas/VehicleClass" }
                    available: { type: boolean }
                    min_quote: { type: [integer, "null"] }
                    max_quote: { type: [integer, "null"] }
                    nearest_eta_min: { type: [integer, "null"] }

  /rides:
    get:
      tags: [Rides]
      operationId: listMyRides
      x-jali-status: planned
      x-jali-story: S4.6
      x-jali-permission: request-rides
      summary: My ride history (paginated)
      parameters:
        - { name: page, in: query, schema: { type: integer, minimum: 1 } }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Ride" }
                  next_page: { type: [integer, "null"] }
    post:
      tags: [Rides]
      operationId: requestRide
      x-jali-status: planned
      x-jali-story: S3.4
      x-jali-permission: request-rides
      summary: Request a ride from one driver (pick) or all nearby (broadcast)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: "#/components/schemas/TripPoints"
                - type: object
                  required: [mode, class]
                  properties:
                    mode: { type: string, enum: [pick, broadcast] }
                    class: { $ref: "#/components/schemas/VehicleClass" }
                    driver_id: { type: integer, description: Required when mode=pick }
                    max_fare: { type: integer, description: Broadcast only }
                    payment_method: { type: string, enum: [cash, momo] }
      responses:
        "201":
          description: Ride requested
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Ride" }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/ValidationError" }

  /rides/active:
    get:
      tags: [Rides]
      operationId: getActiveRide
      x-jali-status: planned
      x-jali-story: S4.1
      summary: My current ride as rider or driver, or null
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/Ride"
                  - type: "null"

  /rides/{id}:
    parameters:
      - $ref: "#/components/parameters/RideId"
    get:
      tags: [Rides]
      operationId: getRide
      x-jali-status: planned
      x-jali-story: S4.1
      summary: Ride detail (rider or assigned driver only)
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Ride" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /rides/{id}/cancel:
    parameters:
      - $ref: "#/components/parameters/RideId"
    post:
      tags: [Rides]
      operationId: cancelRide
      x-jali-status: planned
      x-jali-story: S4.3
      summary: Cancel as rider or assigned driver (reason required)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason: { type: string }
      responses:
        "200":
          description: Cancelled
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Ride" }
        "409": { $ref: "#/components/responses/Conflict" }

  /rides/{id}/accept:
    parameters:
      - $ref: "#/components/parameters/RideId"
    post:
      tags: [Driver rides]
      operationId: acceptRide
      x-jali-status: planned
      x-jali-story: S5.2
      x-jali-permission: offer-rides
      summary: Accept a request (atomic — 409 if another driver won)
      responses:
        "200":
          description: Accepted
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Ride" }
        "409": { $ref: "#/components/responses/Conflict" }

  /rides/{id}/arrive:
    parameters:
      - $ref: "#/components/parameters/RideId"
    post:
      tags: [Driver rides]
      operationId: arriveAtPickup
      x-jali-status: planned
      x-jali-story: S4.1
      x-jali-permission: offer-rides
      summary: Driver is at the pickup
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Ride" }
        "409": { $ref: "#/components/responses/Conflict" }

  /rides/{id}/start:
    parameters:
      - $ref: "#/components/parameters/RideId"
    post:
      tags: [Driver rides]
      operationId: startRide
      x-jali-status: planned
      x-jali-story: S4.2
      x-jali-permission: offer-rides
      summary: Start the trip with the rider's 4-digit PIN
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [pin]
              properties:
                pin: { type: string, pattern: "^[0-9]{4}$" }
      responses:
        "200":
          description: In progress
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Ride" }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/ValidationError" }

  /rides/{id}/complete:
    parameters:
      - $ref: "#/components/parameters/RideId"
    post:
      tags: [Driver rides]
      operationId: completeRide
      x-jali-status: planned
      x-jali-story: S4.4
      x-jali-permission: offer-rides
      summary: End the trip and record the payment method
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [payment_method]
              properties:
                payment_method: { type: string, enum: [cash, momo] }
      responses:
        "200":
          description: Completed
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Ride" }
        "409": { $ref: "#/components/responses/Conflict" }

  /rides/{id}/rate:
    parameters:
      - $ref: "#/components/parameters/RideId"
    post:
      tags: [Rides]
      operationId: rateRide
      x-jali-status: planned
      x-jali-story: S4.5
      summary: Rate the other party (once per ride)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [stars]
              properties:
                stars: { type: integer, minimum: 1, maximum: 5 }
                tags: { type: array, items: { type: string } }
                comment: { type: string, maxLength: 500 }
      responses:
        "201": { $ref: "#/components/responses/Message" }
        "409": { $ref: "#/components/responses/Conflict" }

  /admin/settings/rides:
    get:
      tags: [Admin rides]
      operationId: getRideSettings
      x-jali-story: S2.2
      x-jali-permission: manage-ride-pricing
      summary: Pricing guardrails, commission, radius and timeouts (defaults until saved)
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/RideSettings" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
    put:
      tags: [Admin rides]
      operationId: putRideSettings
      summary: Update pricing guardrails and dispatch settings (partial updates allowed)
      x-jali-story: S2.2
      x-jali-permission: manage-ride-pricing
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/RideSettingsUpdate" }
      responses:
        "200":
          description: Saved
          content:
            application/json:
              schema: { $ref: "#/components/schemas/RideSettings" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "422": { $ref: "#/components/responses/ValidationError" }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Sanctum personal access token from `/auth/login` or `/auth/login/google`.

  parameters:
    RideId:
      name: id
      in: path
      required: true
      schema: { type: integer }

  responses:
    Message:
      description: OK
      content:
        application/json:
          schema:
            type: object
            required: [message]
            properties:
              message: { type: string }
    Unauthorized:
      description: Missing or invalid token
      content:
        application/json:
          schema:
            type: object
            properties:
              error: { type: string }
              message: { type: string }
    Forbidden:
      description: Missing permission
      content:
        application/json:
          schema:
            type: object
            properties:
              error: { type: string }
    Conflict:
      description: Invalid state transition or resource already taken
      content:
        application/json:
          schema:
            type: object
            properties:
              message: { type: string }
    ValidationError:
      description: Validation failed
      content:
        application/json:
          schema:
            type: object
            required: [message, errors]
            properties:
              message: { type: string }
              errors:
                type: object
                additionalProperties:
                  type: array
                  items: { type: string }

  schemas:
    Me:
      type: object
      required: [id, name, roles, permissions]
      properties:
        id: { type: integer }
        name: { type: [string, "null"] }
        email: { type: [string, "null"] }
        phone: { type: [string, "null"] }
        profile_image_url: { type: [string, "null"] }
        roles: { type: string, enum: [superadmin, admin, user, driver] }
        permissions: { type: array, items: { type: string } }
        location:
          oneOf:
            - type: "null"
            - type: object
              properties:
                id: { type: integer }
                name: { type: string }
                city: { type: string }

    VehicleClass:
      type: string
      enum: [moto, car, comfort, van]

    Vehicle:
      type: object
      required: [id, class, model, plate, seats, is_active]
      properties:
        id: { type: integer }
        class: { $ref: "#/components/schemas/VehicleClass" }
        body_type: { type: [string, "null"], enum: [Sedan, SUV, Minivan, Pickup, null] }
        make: { type: [string, "null"] }
        model: { type: string }
        color: { type: [string, "null"] }
        year: { type: [integer, "null"] }
        plate: { type: string, description: "Normalised: uppercase, single spaces" }
        seats: { type: integer }
        amenities: { type: [array, "null"], items: { type: string } }
        photos: { type: [array, "null"], items: { type: string } }
        insurance_expiry: { type: [string, "null"], format: date }
        rental_price_day: { type: [integer, "null"] }
        rental_caution: { type: [integer, "null"] }
        is_active: { type: boolean }

    DriverProfileResponse:
      type: object
      required: [user, profile, vehicle, vehicles]
      properties:
        user:
          type: object
          required: [id, name, email, phone]
          properties:
            id: { type: integer }
            name: { type: [string, "null"] }
            email: { type: [string, "null"] }
            phone: { type: [string, "null"] }
        profile:
          oneOf:
            - type: "null"
            - type: object
              required: [services, allowed_zones, docs_url, verification_status, rating_avg, trips_count]
              properties:
                services:
                  type: array
                  items: { type: string, enum: [ride, hire, private_seat, rental] }
                allowed_zones: { type: array, items: { type: string } }
                docs_url: { type: [string, "null"] }
                verification_status: { type: string, enum: [pending, verified, rejected, suspended] }
                rating_avg: { type: number }
                trips_count: { type: integer }
        vehicle:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/Vehicle"
        vehicles:
          type: array
          items: { $ref: "#/components/schemas/Vehicle" }

    DriverProfileUpdate:
      type: object
      properties:
        name: { type: string, maxLength: 255 }
        fcm_token: { type: string }
        services:
          type: array
          items: { type: string, enum: [ride, hire, private_seat, rental] }
        allowed_zones: { type: array, items: { type: string } }
        docs_url: { type: [string, "null"], format: uri }
        car_model: { type: string, maxLength: 100 }
        plate: { type: string, maxLength: 20 }
        car_type: { type: string, enum: [Sedan, SUV, Minivan, Pickup] }
        seats: { type: integer, minimum: 1, maximum: 60 }
        amenities: { type: array, items: { type: string } }
        insurance_expiry: { type: [string, "null"], format: date }
        price_day: { type: [integer, "null"], minimum: 0 }
        caution: { type: [integer, "null"], minimum: 0 }

    DriverRates:
      type: object
      description: RIDE_HAILING_PLAN.md §3.1
      required: [base_fare, per_km, min_fare]
      properties:
        vehicle_id: { type: integer }
        base_fare: { type: integer, minimum: 0 }
        per_km: { type: integer, minimum: 0 }
        per_min: { type: integer, minimum: 0, default: 0 }
        min_fare: { type: integer, minimum: 0 }
        pickup_free_km: { type: number, minimum: 0, default: 2 }
        pickup_per_km: { type: integer, minimum: 0, default: 0 }
        night_multiplier: { type: number, minimum: 1, maximum: 2, default: 1 }

    DriverRatesResponse:
      type: object
      required: [vehicle, rates, out_of_band, guardrails, service_fee, commission_pct, preview]
      properties:
        vehicle:
          oneOf:
            - type: "null"
            - type: object
              required: [id, class, model, plate]
              properties:
                id: { type: integer }
                class: { $ref: "#/components/schemas/VehicleClass" }
                model: { type: string }
                plate: { type: string }
        rates:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/DriverRates"
        out_of_band:
          type: boolean
          description: True when guardrails changed and these rates must be updated
        guardrails:
          type: object
          required: [per_km_min, per_km_max, min_fare_max]
          properties:
            per_km_min: { type: integer }
            per_km_max: { type: integer }
            min_fare_max: { type: integer }
        service_fee:
          type: object
          required: [type, amount]
          properties:
            type: { type: string, enum: [flat, percent] }
            amount: { type: number }
        commission_pct: { type: number }
        preview:
          type: array
          description: Daytime price for sample trips (no pickup surcharge)
          items:
            type: object
            required: [km, driver_fare, service_fee, total]
            properties:
              km: { type: number }
              driver_fare: { type: integer }
              service_fee: { type: integer }
              total: { type: integer }

    TripPoints:
      type: object
      required: [pickup, dropoff]
      properties:
        pickup: { $ref: "#/components/schemas/Place" }
        dropoff: { $ref: "#/components/schemas/Place" }

    Place:
      type: object
      required: [lat, lng]
      properties:
        lat: { type: number }
        lng: { type: number }
        address: { type: [string, "null"] }

    NearbyDriver:
      type: object
      required: [driver_id, name, rating, eta_min, distance_km, quote, vehicle, approx_location]
      properties:
        driver_id: { type: integer }
        name: { type: string, description: "First name + initial" }
        photo: { type: [string, "null"] }
        rating: { type: number }
        trips: { type: integer }
        eta_min: { type: integer }
        distance_km: { type: number }
        quote: { type: integer, description: "What the rider pays for this trip, incl. Jali fee" }
        per_km: { type: integer }
        vehicle:
          type: object
          properties:
            class: { $ref: "#/components/schemas/VehicleClass" }
            model: { type: string }
            color: { type: [string, "null"] }
            seats: { type: integer }
            amenities: { type: array, items: { type: string } }
        approx_location:
          description: Rounded to ~100 m until a ride is accepted
          type: object
          properties:
            lat: { type: number }
            lng: { type: number }

    RideStatus:
      type: string
      enum: [requested, accepted, arrived, in_progress, completed, expired, cancelled_by_rider, cancelled_by_driver]

    Ride:
      type: object
      required: [id, status, mode, vehicle_class, pickup, dropoff, quoted_fare]
      properties:
        id: { type: integer }
        status: { $ref: "#/components/schemas/RideStatus" }
        mode: { type: string, enum: [pick, broadcast] }
        vehicle_class: { $ref: "#/components/schemas/VehicleClass" }
        pickup: { $ref: "#/components/schemas/Place" }
        dropoff: { $ref: "#/components/schemas/Place" }
        est_distance_km: { type: number }
        est_minutes: { type: integer }
        quoted_fare: { type: integer }
        final_fare: { type: [integer, "null"] }
        service_fee: { type: integer }
        start_pin: { type: [string, "null"], description: "Only present for the rider" }
        payment_method: { type: [string, "null"], enum: [cash, momo, null] }
        driver:
          oneOf:
            - type: "null"
            - type: object
              properties:
                id: { type: integer }
                name: { type: string }
                photo: { type: [string, "null"] }
                rating: { type: number }
                phone: { type: [string, "null"], description: "After accept only" }
                location:
                  type: [object, "null"]
                  properties:
                    lat: { type: number }
                    lng: { type: number }
                    heading: { type: [number, "null"] }
                vehicle: { $ref: "#/components/schemas/Vehicle" }
        requested_at: { type: string, format: date-time }
        accepted_at: { type: [string, "null"], format: date-time }
        arrived_at: { type: [string, "null"], format: date-time }
        started_at: { type: [string, "null"], format: date-time }
        completed_at: { type: [string, "null"], format: date-time }
        cancelled_at: { type: [string, "null"], format: date-time }

    RideRequestCard:
      type: object
      description: What an online driver sees before accepting (no exact pickup, no phone)
      required: [ride_id, pickup_area, dropoff_area, trip_km, pickup_km, earnings, expires_at]
      properties:
        ride_id: { type: integer }
        pickup_area: { type: string }
        dropoff_area: { type: string }
        trip_km: { type: number }
        pickup_km: { type: number }
        earnings: { type: integer, description: "Driver's quote minus commission" }
        rider_rating: { type: [number, "null"] }
        payment_method: { type: string, enum: [cash, momo] }
        expires_at: { type: string, format: date-time }

    RideSettings:
      type: object
      description: platform_settings `rides` (RIDE_HAILING_PLAN.md §3.3). Responses always contain every field; PUT accepts any subset.
      required: [vehicle_classes, road_factor, commission_pct, service_fee, nearby_radius_km, presence_ttl_sec, request_timeout_sec]
      properties:
        vehicle_classes:
          type: object
          additionalProperties:
            type: object
            properties:
              per_km_min: { type: integer }
              per_km_max: { type: integer }
              min_fare_max: { type: integer }
        road_factor: { type: number, default: 1.3 }
        commission_pct: { type: number, minimum: 0, maximum: 50 }
        service_fee:
          type: object
          properties:
            type: { type: string, enum: [flat, percent] }
            amount: { type: number }
        nearby_radius_km: { type: number, default: 5 }
        presence_ttl_sec: { type: integer, default: 60 }
        request_timeout_sec: { type: integer, default: 30 }

    RideSettingsUpdate:
      description: Any subset of RideSettings; a vehicle class must be sent complete
      type: object
      properties:
        vehicle_classes:
          type: object
          additionalProperties:
            type: object
            required: [per_km_min, per_km_max, min_fare_max]
            properties:
              per_km_min: { type: integer, minimum: 0 }
              per_km_max: { type: integer, minimum: 0 }
              min_fare_max: { type: integer, minimum: 0 }
        road_factor: { type: number, minimum: 1, maximum: 3 }
        commission_pct: { type: number, minimum: 0, maximum: 50 }
        service_fee:
          type: object
          required: [type, amount]
          properties:
            type: { type: string, enum: [flat, percent] }
            amount: { type: number, minimum: 0 }
        nearby_radius_km: { type: number, minimum: 0.5, maximum: 50 }
        presence_ttl_sec: { type: integer, minimum: 15, maximum: 600 }
        request_timeout_sec: { type: integer, minimum: 10, maximum: 300 }
