openapi: 3.1.0
info:
  title: Jali API
  version: 0.1.0
  description: |
    Contract between the Jali mobile app and the backend (Laravel today; any
    implementation that passes the contract tests can replace it — see
    `docs/api/README.md`).

    Scope of this version: identity, push tokens, driver profile, and the
    on-demand ride endpoints from `RIDE_HAILING_PLAN.md`. Operations marked
    `x-jali-status: planned` are agreed designs that are not implemented yet;
    everything else is implemented and checked by `backend/tests/Feature/ApiContractTest.php`.

    Conventions
    - All amounts are integers in RWF.
    - Coordinates are WGS84 decimal degrees.
    - Timestamps are ISO-8601 strings.
    - Errors: 401 `{error}`; 403 `{error}`; 409 `{message}`; 422 Laravel validation `{message, errors}`.
servers:
  - url: https://api.jali.rw/api
    description: Production
  - url: https://jali.stoka.rw/backend/public/api
    description: Dev
  - url: http://127.0.0.1:4010
    description: Prism mock (`npm run api:mock` in mobile/)

security:
  - bearerAuth: []

tags:
  - name: Identity
    description: Current user and device registration
  - name: Driver
    description: Driver profile, vehicles and rates
  - name: Rides
    description: Rider side of on-demand rides
  - name: Driver rides
    description: Driver side of on-demand rides
  - name: Admin rides
    description: Ride operations and pricing settings

paths:
  /me:
    get:
      tags: [Identity]
      operationId: getMe
      summary: Current user with role and permissions
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Me" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /me/push-token:
    post:
      tags: [Identity]
      operationId: registerPushToken
      summary: Register this device's push token (Expo or FCM)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties:
                token: { type: string, maxLength: 255, examples: ["ExponentPushToken[xxxxxxxx]"] }
      responses:
        "200": { $ref: "#/components/responses/Message" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/ValidationError" }
    delete:
      tags: [Identity]
      operationId: removePushToken
      summary: Stop push notifications to this account
      responses:
        "200": { $ref: "#/components/responses/Message" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /driver/profile:
    get:
      tags: [Driver]
      operationId: getDriverProfile
      summary: Driver profile, active vehicle and all vehicles
      x-jali-permission: apply-as-driver
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DriverProfileResponse" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
    patch:
      tags: [Driver]
      operationId: updateDriverProfile
      summary: Save driver setup (profile + active vehicle)
      description: All fields optional. `car_model` and `plate` are required together the first time a vehicle is saved.
      x-jali-permission: apply-as-driver
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/DriverProfileUpdate" }
      responses:
        "200":
          description: Saved profile
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DriverProfileResponse" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "422": { $ref: "#/components/responses/ValidationError" }

  /driver/onboarding:
    get:
      tags: [Driver]
      operationId: getDriverOnboarding
      x-jali-story: S1.1
      x-jali-permission: apply-as-driver
      summary: Application checklist, status, licence and documents
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DriverOnboarding" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /driver/onboarding/services:
    put:
      tags: [Driver]
      operationId: putDriverServices
      x-jali-story: S1.1
      x-jali-permission: apply-as-driver
      summary: Choose what I offer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [services]
              properties:
                services:
                  type: array
                  minItems: 1
                  items: { $ref: "#/components/schemas/DriverService" }
      responses:
        "200":
          description: Updated checklist
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DriverOnboarding" }
        "422": { $ref: "#/components/responses/ValidationError" }

  /driver/onboarding/licence:
    put:
      tags: [Driver]
      operationId: putDriverLicence
      x-jali-story: S1.2
      x-jali-permission: apply-as-driver
      summary: Driving licence details (an expired licence is rejected)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [licence_no, licence_categories, licence_expiry]
              properties:
                licence_no: { type: string, maxLength: 50 }
                licence_categories:
                  type: array
                  minItems: 1
                  items: { type: string, enum: [A, B, C, C1, D, D1, E, F] }
                licence_expiry: { type: string, format: date }
                national_id_no: { type: [string, "null"], maxLength: 50 }
      responses:
        "200":
          description: Updated checklist
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DriverOnboarding" }
        "422": { $ref: "#/components/responses/ValidationError" }

  /driver/onboarding/submit:
    post:
      tags: [Driver]
      operationId: submitDriverApplication
      x-jali-story: S1.1
      x-jali-permission: apply-as-driver
      summary: Send the application for admin review (all required steps must be done)
      responses:
        "200":
          description: Submitted — status becomes pending
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DriverOnboarding" }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/ValidationError" }

  /driver/documents:
    post:
      tags: [Driver]
      operationId: uploadDriverDocument
      x-jali-story: S1.2
      x-jali-permission: apply-as-driver
      summary: Upload or replace a verification document (stored privately)
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [type, file]
              properties:
                type: { $ref: "#/components/schemas/DriverDocumentType" }
                file: { type: string, format: binary, description: "jpg/png/webp/heic/pdf, max 10 MB" }
      responses:
        "200":
          description: Updated checklist
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DriverOnboarding" }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/ValidationError" }

  /driver/documents/{id}/file:
    parameters:
      - $ref: "#/components/parameters/DocumentId"
    get:
      tags: [Driver]
      operationId: getDriverDocumentFile
      x-jali-story: S1.2
      x-jali-permission: apply-as-driver
      summary: The document file — only for its owner or users with verify-drivers (404 otherwise)
      responses:
        "200":
          description: The file
          content:
            image/*: {}
            application/pdf: {}
        "404": { $ref: "#/components/responses/NotFound" }

  /driver/vehicles:
    get:
      tags: [Driver]
      operationId: listVehicles
      x-jali-story: S1.3
      x-jali-permission: apply-as-driver
      summary: My vehicles (active first)
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Vehicle" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
    post:
      tags: [Driver]
      operationId: createVehicle
      x-jali-story: S1.3
      x-jali-permission: apply-as-driver
      summary: Add a vehicle (the first one becomes active)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: "#/components/schemas/VehicleInput"
                - required: [class, model, plate, seats, insurance_expiry]
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Vehicle" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "422": { $ref: "#/components/responses/ValidationError" }

  /driver/vehicles/{id}:
    parameters:
      - $ref: "#/components/parameters/VehicleId"
    patch:
      tags: [Driver]
      operationId: updateVehicle
      x-jali-story: S1.3
      x-jali-permission: apply-as-driver
      summary: Edit one of my vehicles
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/VehicleInput" }
      responses:
        "200":
          description: Saved
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Vehicle" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/ValidationError" }
    delete:
      tags: [Driver]
      operationId: deleteVehicle
      x-jali-story: S1.3
      x-jali-permission: apply-as-driver
      summary: Remove one of my vehicles
      responses:
        "200": { $ref: "#/components/responses/Message" }
        "404": { $ref: "#/components/responses/NotFound" }

  /driver/vehicles/{id}/activate:
    parameters:
      - $ref: "#/components/parameters/VehicleId"
    post:
      tags: [Driver]
      operationId: activateVehicle
      x-jali-story: S1.3
      x-jali-permission: apply-as-driver
      summary: Make this the vehicle riders see (others become inactive)
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Vehicle" }
        "404": { $ref: "#/components/responses/NotFound" }

  /driver/vehicles/{id}/photos:
    parameters:
      - $ref: "#/components/parameters/VehicleId"
    post:
      tags: [Driver]
      operationId: uploadVehiclePhoto
      x-jali-story: S1.3
      x-jali-permission: apply-as-driver
      summary: Upload or replace one vehicle photo
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [slot, photo]
              properties:
                slot: { type: string, enum: [front, side, interior, luggage] }
                photo: { type: string, format: binary, description: "jpg/png/webp/heic, max 8 MB" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Vehicle" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/ValidationError" }

  # ── Driver pricing & presence (planned) ─────────────────────────────────
  /driver/rates:
    get:
      tags: [Driver]
      operationId: getDriverRates
      x-jali-story: S2.1
      x-jali-permission: apply-as-driver
      summary: My ride rates for the active vehicle, the guardrails that apply, and a price preview
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DriverRatesResponse" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
    put:
      tags: [Driver]
      operationId: putDriverRates
      x-jali-story: S2.1
      x-jali-permission: apply-as-driver
      summary: Set my ride rates (validated against the guardrails for my vehicle class)
      description: Rates are snapshotted when a ride is requested, so changes never affect rides already quoted.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/DriverRates" }
      responses:
        "200":
          description: Saved
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DriverRatesResponse" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "422": { $ref: "#/components/responses/ValidationError" }

  /driver/presence:
    get:
      tags: [Driver rides]
      operationId: getDriverPresence
      x-jali-story: S5.1
      x-jali-permission: offer-rides
      summary: Am I online, and what blocks me from going online?
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DriverPresenceState" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
    post:
      tags: [Driver rides]
      operationId: postDriverPresence
      x-jali-story: S5.1
      x-jali-permission: offer-rides
      summary: Go online/offline; while online send this heartbeat with the position every 5–10 s
      description: |
        Going online is refused (online=false with blocked_reasons) until the driver is verified and the
        active vehicle has valid insurance, a front photo and prices within the limits. Without a heartbeat
        for presence_ttl_sec the driver is treated as offline.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [online]
              properties:
                online: { type: boolean }
                lat: { type: [number, "null"], description: Required when online }
                lng: { type: [number, "null"], description: Required when online }
                heading: { type: [number, "null"], minimum: 0, maximum: 360 }
      responses:
        "200":
          description: Presence stored
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DriverPresenceState" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "422": { $ref: "#/components/responses/ValidationError" }

  /driver/ride-requests:
    get:
      tags: [Driver rides]
      operationId: listRideRequests
      x-jali-story: S5.2
      x-jali-permission: offer-rides
      summary: Open ride requests sent to me (pick or broadcast)
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/RideRequestCard" }

  # ── Rider ───────────────────────────────────────────────────────────────
  /places/search:
    get:
      tags: [Rides]
      operationId: searchPlaces
      x-jali-story: S3.1
      x-jali-permission: request-rides
      summary: Places in Rwanda matching the text, biased around the rider (max 60/min)
      parameters:
        - { name: q, in: query, required: true, schema: { type: string, minLength: 2, maxLength: 120 } }
        - { name: lat, in: query, schema: { type: number } }
        - { name: lng, in: query, schema: { type: number } }
      responses:
        "200":
          description: OK (empty list when nothing matches or the provider is down)
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/PlaceResult" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/ValidationError" }

  /places/reverse:
    get:
      tags: [Rides]
      operationId: reverseGeocode
      x-jali-story: S3.1
      x-jali-permission: request-rides
      summary: Readable address for a position (falls back to coordinates)
      parameters:
        - { name: lat, in: query, required: true, schema: { type: number } }
        - { name: lng, in: query, required: true, schema: { type: number } }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PlaceResult" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/ValidationError" }

  /rides/nearby:
    get:
      tags: [Rides]
      operationId: getNearbyDrivers
      x-jali-story: S3.2
      x-jali-permission: request-rides
      summary: Online drivers near the pickup, each with their own price for this trip (closest first)
      description: |
        Only verified drivers whose heartbeat is within presence_ttl_sec, whose active vehicle matches
        the class filter and whose prices are within the current limits. Positions are rounded to ~100 m;
        no phone numbers. At most 50 drivers.
      parameters:
        - { name: lat, in: query, required: true, schema: { type: number } }
        - { name: lng, in: query, required: true, schema: { type: number } }
        - { name: dest_lat, in: query, required: true, schema: { type: number } }
        - { name: dest_lng, in: query, required: true, schema: { type: number } }
        - { name: class, in: query, schema: { $ref: "#/components/schemas/VehicleClass" } }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [trip, drivers]
                properties:
                  trip:
                    type: object
                    required: [distance_km, est_minutes]
                    properties:
                      distance_km: { type: number }
                      est_minutes: { type: integer }
                  drivers:
                    type: array
                    items: { $ref: "#/components/schemas/NearbyDriver" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "422": { $ref: "#/components/responses/ValidationError" }

  /rides/estimate:
    post:
      tags: [Rides]
      operationId: estimateRide
      x-jali-status: planned
      x-jali-story: S3.6
      x-jali-permission: request-rides
      summary: Price range and nearest ETA per vehicle class
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/TripPoints" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required: [class, available]
                  properties:
                    class: { $ref: "#/components/schemas/VehicleClass" }
                    available: { type: boolean }
                    min_quote: { type: [integer, "null"] }
                    max_quote: { type: [integer, "null"] }
                    nearest_eta_min: { type: [integer, "null"] }

  /rides:
    get:
      tags: [Rides]
      operationId: listMyRides
      x-jali-story: S4.6
      x-jali-permission: request-rides
      summary: My ride history (paginated)
      parameters:
        - { name: page, in: query, schema: { type: integer, minimum: 1 } }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Ride" }
                  next_page: { type: [integer, "null"] }
    post:
      tags: [Rides]
      operationId: requestRide
      x-jali-story: S3.4
      x-jali-permission: request-rides
      summary: Request a ride from one driver (pick) or all nearby (broadcast)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: "#/components/schemas/TripPoints"
                - type: object
                  required: [mode, driver_id]
                  properties:
                    mode: { type: string, enum: [pick], description: "broadcast arrives with S3.5" }
                    driver_id: { type: integer, description: A driver from /rides/nearby }
                    payment_method: { type: string, enum: [cash, momo], default: cash }
      responses:
        "201":
          description: Ride requested — price locked, driver notified
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Ride" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/ValidationError" }

  /rides/active:
    get:
      tags: [Rides]
      operationId: getActiveRide
      x-jali-story: S4.1
      summary: My current ride as rider or driver, or null (poll every few seconds during a trip)
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/Ride"
                  - type: "null"

  /rides/{id}:
    parameters:
      - $ref: "#/components/parameters/RideId"
    get:
      tags: [Rides]
      operationId: getRide
      x-jali-story: S4.1
      summary: Ride detail (rider or assigned driver only)
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Ride" }
        "404": { $ref: "#/components/responses/NotFound" }

  /rides/{id}/cancel:
    parameters:
      - $ref: "#/components/parameters/RideId"
    post:
      tags: [Rides]
      operationId: cancelRide
      x-jali-story: S4.3
      summary: Cancel as rider (requested/accepted/arrived) or driver (accepted/arrived)
      description: |
        Rider reasons: changed_plans, driver_too_far, driver_asked_to_cancel, found_other_transport, wrong_pickup, other.
        Driver reasons: rider_not_at_pickup, rider_asked_to_cancel, vehicle_problem, unsafe, traffic, other.
        A rider cancelling after the driver waited longer than free_wait_min pays cancel_fee.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason: { type: string }
      responses:
        "200":
          description: Cancelled
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Ride" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/ValidationError" }

  /rides/{id}/accept:
    parameters:
      - $ref: "#/components/parameters/RideId"
    post:
      tags: [Driver rides]
      operationId: acceptRide
      x-jali-story: S5.2
      x-jali-permission: offer-rides
      summary: Accept a request (atomic — 409 if another driver won)
      responses:
        "200":
          description: Accepted
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Ride" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }

  /rides/{id}/decline:
    parameters:
      - $ref: "#/components/parameters/RideId"
    post:
      tags: [Driver rides]
      operationId: declineRide
      x-jali-story: S5.2
      x-jali-permission: offer-rides
      summary: Decline a request (no penalty); the rider is told to choose another driver
      responses:
        "200":
          description: Declined
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Ride" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }

  /rides/{id}/arrive:
    parameters:
      - $ref: "#/components/parameters/RideId"
    post:
      tags: [Driver rides]
      operationId: arriveAtPickup
      x-jali-story: S4.1
      x-jali-permission: offer-rides
      summary: Driver is at the pickup
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Ride" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }

  /rides/{id}/start:
    parameters:
      - $ref: "#/components/parameters/RideId"
    post:
      tags: [Driver rides]
      operationId: startRide
      x-jali-story: S4.2
      x-jali-permission: offer-rides
      summary: Start the trip with the rider's 4-digit PIN
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [pin]
              properties:
                pin: { type: string, pattern: "^[0-9]{4}$" }
      responses:
        "200":
          description: In progress
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Ride" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/ValidationError" }
        "423":
          description: Too many wrong PINs — ride flagged for support
          content:
            application/json:
              schema:
                type: object
                properties:
                  message: { type: string }

  /rides/{id}/complete:
    parameters:
      - $ref: "#/components/parameters/RideId"
    post:
      tags: [Driver rides]
      operationId: completeRide
      x-jali-story: S4.4
      x-jali-permission: offer-rides
      summary: End the trip and record the payment method
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [payment_method]
              properties:
                payment_method: { type: string, enum: [cash, momo] }
      responses:
        "200":
          description: Completed
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Ride" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }

  /rides/{id}/rate:
    parameters:
      - $ref: "#/components/parameters/RideId"
    post:
      tags: [Rides]
      operationId: rateRide
      x-jali-story: S4.5
      summary: Rate the other party (once per ride)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [stars]
              properties:
                stars: { type: integer, minimum: 1, maximum: 5 }
                tags: { type: array, items: { type: string } }
                comment: { type: string, maxLength: 500 }
      responses:
        "201": { $ref: "#/components/responses/Message" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/ValidationError" }

  /admin/drivers:
    get:
      tags: [Admin rides]
      operationId: listDriverApplications
      x-jali-story: S1.4
      x-jali-permission: verify-drivers
      summary: Driver applications by status, oldest submission first
      parameters:
        - name: status
          in: query
          schema: { type: string, enum: [pending, verified, rejected, suspended], default: pending }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required: [user_id, name, phone, services, status, submitted_at]
                  properties:
                    user_id: { type: integer }
                    name: { type: [string, "null"] }
                    phone: { type: [string, "null"] }
                    services: { type: array, items: { $ref: "#/components/schemas/DriverService" } }
                    status: { type: string, enum: [pending, verified, rejected, suspended] }
                    submitted_at: { type: [string, "null"], format: date-time }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /admin/drivers/{userId}:
    parameters:
      - $ref: "#/components/parameters/UserId"
    get:
      tags: [Admin rides]
      operationId: getDriverApplication
      x-jali-story: S1.4
      x-jali-permission: verify-drivers
      summary: Full application with documents, vehicles and prices
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DriverApplication" }
        "404": { $ref: "#/components/responses/NotFound" }

  /admin/drivers/{userId}/verify:
    parameters:
      - $ref: "#/components/parameters/UserId"
    post:
      tags: [Admin rides]
      operationId: verifyDriver
      x-jali-story: S1.4
      x-jali-permission: verify-drivers
      summary: Approve a pending application (documents approved; riders get the driver role; push sent)
      responses:
        "200":
          description: Verified
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DriverApplication" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }

  /admin/drivers/{userId}/reject:
    parameters:
      - $ref: "#/components/parameters/UserId"
    post:
      tags: [Admin rides]
      operationId: rejectDriver
      x-jali-story: S1.4
      x-jali-permission: verify-drivers
      summary: Reject with a reason, optionally per document
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason: { type: string, maxLength: 500 }
                documents:
                  type: object
                  description: "Document type → reason, e.g. {\"selfie\": \"Face not visible\"}"
                  additionalProperties: { type: string }
      responses:
        "200":
          description: Rejected
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DriverApplication" }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/ValidationError" }

  /admin/drivers/{userId}/suspend:
    parameters:
      - $ref: "#/components/parameters/UserId"
    post:
      tags: [Admin rides]
      operationId: suspendDriver
      x-jali-story: S1.4
      x-jali-permission: verify-drivers
      summary: Suspend a driver (cannot go online or accept rides)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason: { type: string, maxLength: 500 }
      responses:
        "200":
          description: Suspended
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DriverApplication" }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/ValidationError" }

  /admin/settings/rides:
    get:
      tags: [Admin rides]
      operationId: getRideSettings
      x-jali-story: S2.2
      x-jali-permission: manage-ride-pricing
      summary: Pricing guardrails, commission, radius and timeouts (defaults until saved)
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/RideSettings" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
    put:
      tags: [Admin rides]
      operationId: putRideSettings
      summary: Update pricing guardrails and dispatch settings (partial updates allowed)
      x-jali-story: S2.2
      x-jali-permission: manage-ride-pricing
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/RideSettingsUpdate" }
      responses:
        "200":
          description: Saved
          content:
            application/json:
              schema: { $ref: "#/components/schemas/RideSettings" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "422": { $ref: "#/components/responses/ValidationError" }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Sanctum personal access token from `/auth/login` or `/auth/login/google`.

  parameters:
    UserId:
      name: userId
      in: path
      required: true
      schema: { type: integer }
    DocumentId:
      name: id
      in: path
      required: true
      schema: { type: integer }
    VehicleId:
      name: id
      in: path
      required: true
      schema: { type: integer }
    RideId:
      name: id
      in: path
      required: true
      schema: { type: integer }

  responses:
    Message:
      description: OK
      content:
        application/json:
          schema:
            type: object
            required: [message]
            properties:
              message: { type: string }
    Unauthorized:
      description: Missing or invalid token
      content:
        application/json:
          schema:
            type: object
            properties:
              error: { type: string }
              message: { type: string }
    Forbidden:
      description: Missing permission
      content:
        application/json:
          schema:
            type: object
            properties:
              error: { type: string }
    NotFound:
      description: Not found (or not yours)
      content:
        application/json:
          schema:
            type: object
            properties:
              message: { type: string }
    Conflict:
      description: Invalid state transition or resource already taken
      content:
        application/json:
          schema:
            type: object
            properties:
              message: { type: string }
    ValidationError:
      description: Validation failed
      content:
        application/json:
          schema:
            type: object
            required: [message, errors]
            properties:
              message: { type: string }
              errors:
                type: object
                additionalProperties:
                  type: array
                  items: { type: string }

  schemas:
    Me:
      type: object
      required: [id, name, roles, permissions]
      properties:
        id: { type: integer }
        name: { type: [string, "null"] }
        email: { type: [string, "null"] }
        phone: { type: [string, "null"] }
        profile_image_url: { type: [string, "null"] }
        roles: { type: string, enum: [superadmin, admin, user, driver] }
        permissions: { type: array, items: { type: string } }
        location:
          oneOf:
            - type: "null"
            - type: object
              properties:
                id: { type: integer }
                name: { type: string }
                city: { type: string }

    VehicleClass:
      type: string
      enum: [moto, car, comfort, van]

    Vehicle:
      type: object
      required: [id, class, model, plate, seats, is_active]
      properties:
        id: { type: integer }
        class: { $ref: "#/components/schemas/VehicleClass" }
        body_type: { type: [string, "null"], enum: [Sedan, SUV, Minivan, Pickup, Hatchback, Motorcycle, null] }
        make: { type: [string, "null"] }
        model: { type: string }
        color: { type: [string, "null"] }
        year: { type: [integer, "null"] }
        plate: { type: string, description: "Normalised: uppercase, single spaces" }
        seats: { type: integer }
        amenities: { type: [array, "null"], items: { type: string } }
        photos:
          oneOf:
            - type: "null"
            - type: array
              maxItems: 0
              description: Empty list when no photo was uploaded yet
            - $ref: "#/components/schemas/VehiclePhotos"
        insurance_expiry: { type: [string, "null"], format: date }
        rental_price_day: { type: [integer, "null"] }
        rental_caution: { type: [integer, "null"] }
        is_active: { type: boolean }

    DriverService:
      type: string
      enum: [ride, hire, private_seat, rental]

    DriverDocumentType:
      type: string
      enum: [licence_front, licence_back, national_id, selfie, insurance]

    DriverOnboarding:
      type: object
      required: [status, can_submit, steps, services, rejection_reason, licence, documents]
      properties:
        status: { type: string, enum: [draft, pending, verified, rejected, suspended] }
        can_submit: { type: boolean }
        steps:
          type: array
          items:
            type: object
            required: [key, done, required]
            properties:
              key: { type: string, enum: [services, profile, licence, documents, vehicle, rates] }
              done: { type: boolean }
              required: { type: boolean }
        services:
          type: array
          items: { $ref: "#/components/schemas/DriverService" }
        rejection_reason: { type: [string, "null"] }
        licence:
          type: object
          required: [licence_no, licence_categories, licence_expiry, national_id_no]
          properties:
            licence_no: { type: [string, "null"] }
            licence_categories: { type: array, items: { type: string } }
            licence_expiry: { type: [string, "null"], format: date }
            national_id_no: { type: [string, "null"] }
        documents:
          type: array
          items:
            type: object
            required: [type, required, status, rejection_reason, id, file_url, updated_at]
            properties:
              type: { $ref: "#/components/schemas/DriverDocumentType" }
              required: { type: boolean }
              status: { type: string, enum: [missing, uploaded, approved, rejected] }
              rejection_reason: { type: [string, "null"] }
              id: { type: [integer, "null"] }
              file_url: { type: [string, "null"], description: "Send the bearer token when loading it" }
              updated_at: { type: [string, "null"], format: date-time }

    DriverApplication:
      type: object
      required: [user, status, submitted_at, verified_at, rejection_reason, services, licence, checklist, documents, vehicles, rates]
      properties:
        user:
          type: object
          required: [id, name, email, phone, role]
          properties:
            id: { type: integer }
            name: { type: [string, "null"] }
            email: { type: [string, "null"] }
            phone: { type: [string, "null"] }
            role: { type: string }
            profile_image_url: { type: [string, "null"] }
        status: { type: string, enum: [pending, verified, rejected, suspended] }
        submitted_at: { type: [string, "null"], format: date-time }
        verified_at: { type: [string, "null"], format: date-time }
        rejection_reason: { type: [string, "null"] }
        services: { type: array, items: { $ref: "#/components/schemas/DriverService" } }
        licence: { $ref: "#/components/schemas/DriverOnboarding/properties/licence" }
        checklist: { $ref: "#/components/schemas/DriverOnboarding/properties/steps" }
        documents: { $ref: "#/components/schemas/DriverOnboarding/properties/documents" }
        vehicles: { type: array, items: { $ref: "#/components/schemas/Vehicle" } }
        rates: { type: array, items: { $ref: "#/components/schemas/DriverRates" } }

    VehiclePhotos:
      type: object
      description: Public URLs per photo slot; `front` is required before going online
      properties:
        front: { type: string }
        side: { type: string }
        interior: { type: string }
        luggage: { type: string }

    VehicleInput:
      type: object
      properties:
        class: { $ref: "#/components/schemas/VehicleClass" }
        body_type: { type: [string, "null"], enum: [Sedan, SUV, Minivan, Pickup, Hatchback, Motorcycle, null] }
        make: { type: [string, "null"], maxLength: 50 }
        model: { type: string, maxLength: 100 }
        color: { type: [string, "null"], maxLength: 30 }
        year: { type: [integer, "null"], minimum: 1980 }
        plate: { type: string, maxLength: 20 }
        seats: { type: integer, minimum: 1, maximum: 60, description: "Moto: at most 2" }
        amenities: { type: [array, "null"], items: { type: string } }
        insurance_expiry: { type: string, format: date }

    DriverProfileResponse:
      type: object
      required: [user, profile, vehicle, vehicles]
      properties:
        user:
          type: object
          required: [id, name, email, phone]
          properties:
            id: { type: integer }
            name: { type: [string, "null"] }
            email: { type: [string, "null"] }
            phone: { type: [string, "null"] }
        profile:
          oneOf:
            - type: "null"
            - type: object
              required: [services, allowed_zones, docs_url, verification_status, rating_avg, trips_count]
              properties:
                services:
                  type: array
                  items: { type: string, enum: [ride, hire, private_seat, rental] }
                allowed_zones: { type: array, items: { type: string } }
                docs_url: { type: [string, "null"] }
                verification_status: { type: string, enum: [pending, verified, rejected, suspended] }
                rating_avg: { type: number }
                trips_count: { type: integer }
        vehicle:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/Vehicle"
        vehicles:
          type: array
          items: { $ref: "#/components/schemas/Vehicle" }

    DriverProfileUpdate:
      type: object
      properties:
        name: { type: string, maxLength: 255 }
        fcm_token: { type: string }
        services:
          type: array
          items: { type: string, enum: [ride, hire, private_seat, rental] }
        allowed_zones: { type: array, items: { type: string } }
        docs_url: { type: [string, "null"], format: uri }
        car_model: { type: string, maxLength: 100 }
        plate: { type: string, maxLength: 20 }
        car_type: { type: string, enum: [Sedan, SUV, Minivan, Pickup] }
        seats: { type: integer, minimum: 1, maximum: 60 }
        amenities: { type: array, items: { type: string } }
        insurance_expiry: { type: [string, "null"], format: date }
        price_day: { type: [integer, "null"], minimum: 0 }
        caution: { type: [integer, "null"], minimum: 0 }

    DriverRates:
      type: object
      description: RIDE_HAILING_PLAN.md §3.1
      required: [base_fare, per_km, min_fare]
      properties:
        vehicle_id: { type: integer }
        base_fare: { type: integer, minimum: 0 }
        per_km: { type: integer, minimum: 0 }
        per_min: { type: integer, minimum: 0, default: 0 }
        min_fare: { type: integer, minimum: 0 }
        pickup_free_km: { type: number, minimum: 0, default: 2 }
        pickup_per_km: { type: integer, minimum: 0, default: 0 }
        night_multiplier: { type: number, minimum: 1, maximum: 2, default: 1 }

    DriverPresenceState:
      type: object
      required: [online, online_since, blocked_reasons]
      properties:
        online: { type: boolean }
        online_since: { type: [string, "null"], format: date-time }
        blocked_reasons:
          type: array
          items:
            type: string
            enum: [not_verified, suspended, no_active_vehicle, insurance_expired, no_vehicle_photo, no_rates, rates_outside_limits]

    DriverRatesResponse:
      type: object
      required: [vehicle, rates, out_of_band, guardrails, service_fee, commission_pct, preview]
      properties:
        vehicle:
          oneOf:
            - type: "null"
            - type: object
              required: [id, class, model, plate]
              properties:
                id: { type: integer }
                class: { $ref: "#/components/schemas/VehicleClass" }
                model: { type: string }
                plate: { type: string }
        rates:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/DriverRates"
        out_of_band:
          type: boolean
          description: True when guardrails changed and these rates must be updated
        guardrails:
          type: object
          required: [per_km_min, per_km_max, min_fare_max]
          properties:
            per_km_min: { type: integer }
            per_km_max: { type: integer }
            min_fare_max: { type: integer }
        service_fee:
          type: object
          required: [type, amount]
          properties:
            type: { type: string, enum: [flat, percent] }
            amount: { type: number }
        commission_pct: { type: number }
        preview:
          type: array
          description: Daytime price for sample trips (no pickup surcharge)
          items:
            type: object
            required: [km, driver_fare, service_fee, total]
            properties:
              km: { type: number }
              driver_fare: { type: integer }
              service_fee: { type: integer }
              total: { type: integer }

    PlaceResult:
      type: object
      required: [name, address, lat, lng]
      properties:
        name: { type: string }
        address: { type: string }
        lat: { type: number }
        lng: { type: number }

    TripPoints:
      type: object
      required: [pickup, dropoff]
      properties:
        pickup: { $ref: "#/components/schemas/Place" }
        dropoff: { $ref: "#/components/schemas/Place" }

    Place:
      type: object
      required: [lat, lng]
      properties:
        lat: { type: number }
        lng: { type: number }
        address: { type: [string, "null"] }

    NearbyDriver:
      type: object
      required: [driver_id, name, rating, eta_min, distance_km, quote, vehicle, approx_location]
      properties:
        driver_id: { type: integer }
        name: { type: string, description: "First name + initial" }
        photo: { type: [string, "null"] }
        rating: { type: number }
        trips: { type: integer }
        eta_min: { type: integer }
        distance_km: { type: number }
        quote: { type: integer, description: "What the rider pays for this trip, incl. Jali fee and pickup surcharge" }
        per_km: { type: integer }
        vehicle:
          type: object
          required: [class, model, color, seats, amenities, photo]
          properties:
            class: { $ref: "#/components/schemas/VehicleClass" }
            model: { type: string }
            color: { type: [string, "null"] }
            seats: { type: integer }
            amenities: { type: array, items: { type: string } }
            photo: { type: [string, "null"], description: Front photo URL }
        approx_location:
          description: Rounded to ~100 m until a ride is accepted
          type: object
          properties:
            lat: { type: number }
            lng: { type: number }

    RideStatus:
      type: string
      enum: [requested, accepted, arrived, in_progress, completed, declined, expired, cancelled_by_rider, cancelled_by_driver]

    Ride:
      type: object
      description: One ride as seen by the requesting user (rider or driver)
      required: [id, role, status, mode, vehicle_class, pickup, dropoff, est_distance_km, est_minutes, quoted_fare, driver_fare,
                 service_fee, final_fare, driver_earnings, cancel_fee, cancel_reason, start_pin, payment_method, expires_at,
                 driver, rider, my_rating, requested_at, accepted_at, arrived_at, started_at, completed_at, cancelled_at]
      properties:
        id: { type: integer }
        role: { type: string, enum: [rider, driver], description: Who is looking }
        status: { $ref: "#/components/schemas/RideStatus" }
        mode: { type: string, enum: [pick, broadcast] }
        vehicle_class: { $ref: "#/components/schemas/VehicleClass" }
        pickup: { $ref: "#/components/schemas/Place" }
        dropoff: { $ref: "#/components/schemas/Place" }
        est_distance_km: { type: number }
        est_minutes: { type: integer }
        quoted_fare: { type: integer, description: "Locked total the rider pays (driver fare + Jali fee)" }
        driver_fare: { type: integer }
        service_fee: { type: integer }
        final_fare: { type: [integer, "null"] }
        driver_earnings: { type: [integer, "null"], description: "Driver view only: driver fare minus commission" }
        cancel_fee: { type: integer }
        cancel_reason: { type: [string, "null"] }
        start_pin: { type: [string, "null"], description: "Rider view only, while the ride is active" }
        payment_method: { type: [string, "null"], enum: [cash, momo, null] }
        expires_at: { type: [string, "null"], format: date-time, description: "While requested: when the driver's answer times out" }
        driver:
          oneOf:
            - type: "null"
            - type: object
              required: [id, name, photo, rating, phone, location, vehicle]
              properties:
                id: { type: integer }
                name: { type: string }
                photo: { type: [string, "null"] }
                rating: { type: number }
                phone: { type: [string, "null"], description: "Rider view, once accepted" }
                location:
                  oneOf:
                    - type: "null"
                    - type: object
                      required: [lat, lng]
                      properties:
                        lat: { type: number }
                        lng: { type: number }
                        heading: { type: [number, "null"] }
                        at: { type: [string, "null"], format: date-time }
                vehicle:
                  oneOf:
                    - type: "null"
                    - type: object
                      required: [class, model, color, plate, photo]
                      properties:
                        class: { $ref: "#/components/schemas/VehicleClass" }
                        model: { type: string }
                        color: { type: [string, "null"] }
                        plate: { type: string }
                        photo: { type: [string, "null"] }
        rider:
          description: Driver view only
          oneOf:
            - type: "null"
            - type: object
              required: [name, rating, phone]
              properties:
                name: { type: string }
                rating: { type: [number, "null"] }
                phone: { type: [string, "null"] }
        my_rating: { type: [integer, "null"], description: Stars I gave for this ride }
        requested_at: { type: [string, "null"], format: date-time }
        accepted_at: { type: [string, "null"], format: date-time }
        arrived_at: { type: [string, "null"], format: date-time }
        started_at: { type: [string, "null"], format: date-time }
        completed_at: { type: [string, "null"], format: date-time }
        cancelled_at: { type: [string, "null"], format: date-time }

    RideRequestCard:
      type: object
      description: What an online driver sees before accepting (no exact pickup, no phone)
      required: [ride_id, pickup_area, dropoff_area, trip_km, pickup_km, earnings, expires_at]
      properties:
        ride_id: { type: integer }
        pickup_area: { type: string }
        dropoff_area: { type: string }
        trip_km: { type: number }
        pickup_km: { type: number }
        earnings: { type: integer, description: "Driver's quote minus commission" }
        rider_rating: { type: [number, "null"] }
        payment_method: { type: string, enum: [cash, momo] }
        expires_at: { type: string, format: date-time }

    RideSettings:
      type: object
      description: platform_settings `rides` (RIDE_HAILING_PLAN.md §3.3). Responses always contain every field; PUT accepts any subset.
      required: [vehicle_classes, road_factor, commission_pct, service_fee, nearby_radius_km, presence_ttl_sec, request_timeout_sec]
      properties:
        vehicle_classes:
          type: object
          additionalProperties:
            type: object
            properties:
              per_km_min: { type: integer }
              per_km_max: { type: integer }
              min_fare_max: { type: integer }
        road_factor: { type: number, default: 1.3 }
        commission_pct: { type: number, minimum: 0, maximum: 50 }
        service_fee:
          type: object
          properties:
            type: { type: string, enum: [flat, percent] }
            amount: { type: number }
        nearby_radius_km: { type: number, default: 5 }
        presence_ttl_sec: { type: integer, default: 60 }
        request_timeout_sec: { type: integer, default: 30 }
        cancel_fee: { type: integer, default: 500 }
        free_wait_min: { type: integer, default: 5 }

    RideSettingsUpdate:
      description: Any subset of RideSettings; a vehicle class must be sent complete
      type: object
      properties:
        vehicle_classes:
          type: object
          additionalProperties:
            type: object
            required: [per_km_min, per_km_max, min_fare_max]
            properties:
              per_km_min: { type: integer, minimum: 0 }
              per_km_max: { type: integer, minimum: 0 }
              min_fare_max: { type: integer, minimum: 0 }
        road_factor: { type: number, minimum: 1, maximum: 3 }
        commission_pct: { type: number, minimum: 0, maximum: 50 }
        service_fee:
          type: object
          required: [type, amount]
          properties:
            type: { type: string, enum: [flat, percent] }
            amount: { type: number, minimum: 0 }
        nearby_radius_km: { type: number, minimum: 0.5, maximum: 50 }
        presence_ttl_sec: { type: integer, minimum: 15, maximum: 600 }
        request_timeout_sec: { type: integer, minimum: 10, maximum: 300 }
        cancel_fee: { type: integer, minimum: 0, maximum: 10000 }
        free_wait_min: { type: integer, minimum: 0, maximum: 30 }
